/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.deepgram.resources.listen.v1.websocket;

import com.deepgram.core.ClientOptions;
import com.deepgram.core.DisconnectReason;
import com.deepgram.core.ObjectMappers;
import com.deepgram.core.ReconnectingWebSocketListener;
import com.deepgram.core.WebSocketReadyState;
import com.deepgram.resources.listen.v1.types.ListenV1CloseStream;
import com.deepgram.resources.listen.v1.types.ListenV1Finalize;
import com.deepgram.resources.listen.v1.types.ListenV1KeepAlive;
import com.deepgram.resources.listen.v1.types.ListenV1Metadata;
import com.deepgram.resources.listen.v1.types.ListenV1Results;
import com.deepgram.resources.listen.v1.types.ListenV1SpeechStarted;
import com.deepgram.resources.listen.v1.types.ListenV1UtteranceEnd;
import com.fasterxml.jackson.databind.JsonNode;
import com.fasterxml.jackson.databind.ObjectMapper;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ScheduledExecutorService;
import java.util.function.Consumer;
import okhttp3.HttpUrl;
import okhttp3.OkHttpClient;
import okhttp3.Request;
import okhttp3.Response;
import okhttp3.WebSocket;
import okio.ByteString;

/**
 * WebSocket client for the v1 channel.
 * Provides real-time bidirectional communication with strongly-typed messages.
 */
public class V1WebSocketClient implements AutoCloseable {
    protected final ClientOptions clientOptions;

    private final ObjectMapper objectMapper;

    private final OkHttpClient okHttpClient;

    private ScheduledExecutorService timeoutExecutor;

    private volatile WebSocketReadyState readyState = WebSocketReadyState.CLOSED;

    private volatile Runnable onConnectedHandler;

    private volatile Consumer<DisconnectReason> onDisconnectedHandler;

    private volatile Consumer<Exception> onErrorHandler;

    private volatile Consumer<String> onMessageHandler;

    private volatile ReconnectingWebSocketListener.ReconnectOptions reconnectOptions;

    private CompletableFuture<Void> connectionFuture;

    private ReconnectingWebSocketListener reconnectingListener;

    private volatile Consumer<ListenV1Results> resultsHandler;

    private volatile Consumer<ListenV1Metadata> metadataHandler;

    private volatile Consumer<ListenV1UtteranceEnd> utteranceEndHandler;

    private volatile Consumer<ListenV1SpeechStarted> speechStartedHandler;

    /**
     * Creates a new async WebSocket client for the v1 channel.
     */
    public V1WebSocketClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.objectMapper = ObjectMappers.JSON_MAPPER;
        this.okHttpClient = clientOptions.httpClient();
    }

    /**
     * Establishes the WebSocket connection asynchronously with automatic reconnection.
     * @return a CompletableFuture that completes when the connection is established
     * @param options connection options including query parameters
     */
    public CompletableFuture<Void> connect(V1ConnectOptions options) {
        connectionFuture = new CompletableFuture<>();
        String baseUrl = clientOptions.environment().getProductionURL();
        String fullPath = "/v1/listen";
        if (baseUrl.endsWith("/") && fullPath.startsWith("/")) {
            fullPath = fullPath.substring(1);
        } else if (!baseUrl.endsWith("/") && !fullPath.startsWith("/")) {
            fullPath = "/" + fullPath;
        }
        // OkHttp's HttpUrl only supports http/https schemes; convert wss/ws for URL parsing
        if (baseUrl.startsWith("wss://")) {
            baseUrl = "https://" + baseUrl.substring(6);
        } else if (baseUrl.startsWith("ws://")) {
            baseUrl = "http://" + baseUrl.substring(5);
        }
        HttpUrl parsedUrl = HttpUrl.parse(baseUrl + fullPath);
        if (parsedUrl == null) {
            throw new IllegalArgumentException("Invalid WebSocket URL: " + baseUrl + fullPath);
        }
        HttpUrl.Builder urlBuilder = parsedUrl.newBuilder();
        if (options.getCallback() != null && options.getCallback().isPresent()) {
            urlBuilder.addQueryParameter(
                    "callback", String.valueOf(options.getCallback().get()));
        }
        if (options.getCallbackMethod() != null && options.getCallbackMethod().isPresent()) {
            urlBuilder.addQueryParameter(
                    "callback_method",
                    String.valueOf(options.getCallbackMethod().get()));
        }
        if (options.getChannels() != null && options.getChannels().isPresent()) {
            urlBuilder.addQueryParameter(
                    "channels", String.valueOf(options.getChannels().get()));
        }
        if (options.getDetectEntities() != null && options.getDetectEntities().isPresent()) {
            urlBuilder.addQueryParameter(
                    "detect_entities",
                    String.valueOf(options.getDetectEntities().get()));
        }
        if (options.getDiarize() != null && options.getDiarize().isPresent()) {
            urlBuilder.addQueryParameter(
                    "diarize", String.valueOf(options.getDiarize().get()));
        }
        if (options.getDictation() != null && options.getDictation().isPresent()) {
            urlBuilder.addQueryParameter(
                    "dictation", String.valueOf(options.getDictation().get()));
        }
        if (options.getEncoding() != null && options.getEncoding().isPresent()) {
            urlBuilder.addQueryParameter(
                    "encoding", String.valueOf(options.getEncoding().get()));
        }
        if (options.getEndpointing() != null && options.getEndpointing().isPresent()) {
            urlBuilder.addQueryParameter(
                    "endpointing", String.valueOf(options.getEndpointing().get()));
        }
        if (options.getExtra() != null && options.getExtra().isPresent()) {
            urlBuilder.addQueryParameter(
                    "extra", String.valueOf(options.getExtra().get()));
        }
        if (options.getInterimResults() != null && options.getInterimResults().isPresent()) {
            urlBuilder.addQueryParameter(
                    "interim_results",
                    String.valueOf(options.getInterimResults().get()));
        }
        if (options.getKeyterm() != null && options.getKeyterm().isPresent()) {
            urlBuilder.addQueryParameter(
                    "keyterm", String.valueOf(options.getKeyterm().get()));
        }
        if (options.getKeywords() != null && options.getKeywords().isPresent()) {
            urlBuilder.addQueryParameter(
                    "keywords", String.valueOf(options.getKeywords().get()));
        }
        if (options.getLanguage() != null && options.getLanguage().isPresent()) {
            urlBuilder.addQueryParameter(
                    "language", String.valueOf(options.getLanguage().get()));
        }
        if (options.getMipOptOut() != null && options.getMipOptOut().isPresent()) {
            urlBuilder.addQueryParameter(
                    "mip_opt_out", String.valueOf(options.getMipOptOut().get()));
        }
        urlBuilder.addQueryParameter("model", String.valueOf(options.getModel()));
        if (options.getMultichannel() != null && options.getMultichannel().isPresent()) {
            urlBuilder.addQueryParameter(
                    "multichannel", String.valueOf(options.getMultichannel().get()));
        }
        if (options.getNumerals() != null && options.getNumerals().isPresent()) {
            urlBuilder.addQueryParameter(
                    "numerals", String.valueOf(options.getNumerals().get()));
        }
        if (options.getProfanityFilter() != null && options.getProfanityFilter().isPresent()) {
            urlBuilder.addQueryParameter(
                    "profanity_filter",
                    String.valueOf(options.getProfanityFilter().get()));
        }
        if (options.getPunctuate() != null && options.getPunctuate().isPresent()) {
            urlBuilder.addQueryParameter(
                    "punctuate", String.valueOf(options.getPunctuate().get()));
        }
        if (options.getRedact() != null && options.getRedact().isPresent()) {
            urlBuilder.addQueryParameter(
                    "redact", String.valueOf(options.getRedact().get()));
        }
        if (options.getReplace() != null && options.getReplace().isPresent()) {
            urlBuilder.addQueryParameter(
                    "replace", String.valueOf(options.getReplace().get()));
        }
        if (options.getSampleRate() != null && options.getSampleRate().isPresent()) {
            urlBuilder.addQueryParameter(
                    "sample_rate", String.valueOf(options.getSampleRate().get()));
        }
        if (options.getSearch() != null && options.getSearch().isPresent()) {
            urlBuilder.addQueryParameter(
                    "search", String.valueOf(options.getSearch().get()));
        }
        if (options.getSmartFormat() != null && options.getSmartFormat().isPresent()) {
            urlBuilder.addQueryParameter(
                    "smart_format", String.valueOf(options.getSmartFormat().get()));
        }
        if (options.getTag() != null && options.getTag().isPresent()) {
            urlBuilder.addQueryParameter("tag", String.valueOf(options.getTag().get()));
        }
        if (options.getUtteranceEndMs() != null && options.getUtteranceEndMs().isPresent()) {
            urlBuilder.addQueryParameter(
                    "utterance_end_ms",
                    String.valueOf(options.getUtteranceEndMs().get()));
        }
        if (options.getVadEvents() != null && options.getVadEvents().isPresent()) {
            urlBuilder.addQueryParameter(
                    "vad_events", String.valueOf(options.getVadEvents().get()));
        }
        if (options.getVersion() != null && options.getVersion().isPresent()) {
            urlBuilder.addQueryParameter(
                    "version", String.valueOf(options.getVersion().get()));
        }
        Request.Builder requestBuilder = new Request.Builder().url(urlBuilder.build());
        clientOptions.headers(null).forEach(requestBuilder::addHeader);
        final Request request = requestBuilder.build();
        this.readyState = WebSocketReadyState.CONNECTING;
        ReconnectingWebSocketListener.ReconnectOptions reconnectOpts = this.reconnectOptions != null
                ? this.reconnectOptions
                : ReconnectingWebSocketListener.ReconnectOptions.builder().build();
        this.reconnectingListener =
                new ReconnectingWebSocketListener(reconnectOpts, () -> {
                    if (clientOptions.webSocketFactory().isPresent()) {
                        return clientOptions.webSocketFactory().get().create(request, this.reconnectingListener);
                    } else {
                        return okHttpClient.newWebSocket(request, this.reconnectingListener);
                    }
                }) {
                    @Override
                    protected void onWebSocketOpen(WebSocket webSocket, Response response) {
                        readyState = WebSocketReadyState.OPEN;
                        if (onConnectedHandler != null) {
                            onConnectedHandler.run();
                        }
                        connectionFuture.complete(null);
                    }

                    @Override
                    protected void onWebSocketMessage(WebSocket webSocket, String text) {
                        handleIncomingMessage(text);
                    }

                    @Override
                    protected void onWebSocketBinaryMessage(WebSocket webSocket, ByteString bytes) {}

                    @Override
                    protected void onWebSocketFailure(WebSocket webSocket, Throwable t, Response response) {
                        readyState = WebSocketReadyState.CLOSED;
                        if (onErrorHandler != null) {
                            onErrorHandler.accept(new RuntimeException(t));
                        }
                        connectionFuture.completeExceptionally(t);
                    }

                    @Override
                    protected void onWebSocketClosed(WebSocket webSocket, int code, String reason) {
                        readyState = WebSocketReadyState.CLOSED;
                        if (onDisconnectedHandler != null) {
                            onDisconnectedHandler.accept(new DisconnectReason(code, reason));
                        }
                    }
                };
        reconnectingListener.connect();
        return connectionFuture;
    }

    /**
     * Disconnects the WebSocket connection and releases resources.
     */
    public void disconnect() {
        reconnectingListener.disconnect();
        if (timeoutExecutor != null) {
            timeoutExecutor.shutdownNow();
            timeoutExecutor = null;
        }
    }

    /**
     * Gets the current state of the WebSocket connection.
     *
     * This provides the actual connection state, similar to the W3C WebSocket API.
     *
     * @return the current WebSocket ready state
     */
    public WebSocketReadyState getReadyState() {
        return readyState;
    }

    /**
     * Sends a ListenV1Media message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendMedia(ByteString message) {
        CompletableFuture<Void> future = new CompletableFuture<>();
        try {
            assertSocketIsOpen();
            // Use reconnecting listener's sendBinary method which handles queuing
            reconnectingListener.sendBinary(message);
            future.complete(null);
        } catch (Exception e) {
            future.completeExceptionally(new RuntimeException("Failed to send binary data", e));
        }
        return future;
    }

    /**
     * Sends a ListenV1Finalize message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendFinalize(ListenV1Finalize message) {
        return sendMessage(message);
    }

    /**
     * Sends a ListenV1CloseStream message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendCloseStream(ListenV1CloseStream message) {
        return sendMessage(message);
    }

    /**
     * Sends a ListenV1KeepAlive message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendKeepAlive(ListenV1KeepAlive message) {
        return sendMessage(message);
    }

    /**
     * Registers a handler for ListenV1Results messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onResults(Consumer<ListenV1Results> handler) {
        this.resultsHandler = handler;
    }

    /**
     * Registers a handler for ListenV1Metadata messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onMetadata(Consumer<ListenV1Metadata> handler) {
        this.metadataHandler = handler;
    }

    /**
     * Registers a handler for ListenV1UtteranceEnd messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onUtteranceEnd(Consumer<ListenV1UtteranceEnd> handler) {
        this.utteranceEndHandler = handler;
    }

    /**
     * Registers a handler for ListenV1SpeechStarted messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onSpeechStarted(Consumer<ListenV1SpeechStarted> handler) {
        this.speechStartedHandler = handler;
    }

    /**
     * Registers a handler called when the connection is established.
     * @param handler the handler to invoke when connected
     */
    public void onConnected(Runnable handler) {
        this.onConnectedHandler = handler;
    }

    /**
     * Registers a handler called when the connection is closed.
     * @param handler the handler to invoke when disconnected
     */
    public void onDisconnected(Consumer<DisconnectReason> handler) {
        this.onDisconnectedHandler = handler;
    }

    /**
     * Registers a handler called when an error occurs.
     * @param handler the handler to invoke on error
     */
    public void onError(Consumer<Exception> handler) {
        this.onErrorHandler = handler;
    }

    /**
     * Registers a handler called for every incoming text message.
     * The handler receives the raw JSON string before type-specific dispatch.
     * @param handler the handler to invoke with the raw message JSON
     */
    public void onMessage(Consumer<String> handler) {
        this.onMessageHandler = handler;
    }

    /**
     * Configures reconnection behavior. Must be called before {@link #connect}.
     *
     * @param options the reconnection options (backoff, retries, queue size)
     */
    public void reconnectOptions(ReconnectingWebSocketListener.ReconnectOptions options) {
        this.reconnectOptions = options;
    }

    /**
     * Closes this WebSocket client, releasing all resources.
     * Equivalent to calling {@link #disconnect()}.
     */
    @Override
    public void close() {
        disconnect();
    }

    /**
     * Ensures the WebSocket is connected and ready to send messages.
     * @throws IllegalStateException if the socket is not connected or not open
     */
    private void assertSocketIsOpen() {
        if (reconnectingListener.getWebSocket() == null) {
            throw new IllegalStateException("WebSocket is not connected. Call connect() first.");
        }
        if (readyState != WebSocketReadyState.OPEN) {
            throw new IllegalStateException("WebSocket is not open. Current state: " + readyState);
        }
    }

    private CompletableFuture<Void> sendMessage(Object body) {
        CompletableFuture<Void> future = new CompletableFuture<>();
        try {
            assertSocketIsOpen();
            String json = objectMapper.writeValueAsString(body);
            // Use reconnecting listener's send method which handles queuing
            reconnectingListener.send(json);
            future.complete(null);
        } catch (IllegalStateException e) {
            future.completeExceptionally(e);
        } catch (Exception e) {
            future.completeExceptionally(new RuntimeException("Failed to send message", e));
        }
        return future;
    }

    private void handleIncomingMessage(String json) {
        try {
            if (onMessageHandler != null) {
                onMessageHandler.accept(json);
            }
            JsonNode node = objectMapper.readTree(json);
            if (node == null || node.isNull()) {
                throw new IllegalArgumentException("Received null or invalid JSON message");
            }
            if (node.has("transaction_key")
                    && node.has("request_id")
                    && node.has("sha256")
                    && node.has("created")
                    && node.has("duration")
                    && node.has("channels")
                    && "Metadata".equals(node.path("type").asText())) {
                ListenV1Metadata metadataHandlerEvent = null;
                try {
                    metadataHandlerEvent = objectMapper.treeToValue(node, ListenV1Metadata.class);
                } catch (Exception e) {
                }
                if (metadataHandlerEvent != null) {
                    if (metadataHandler != null) {
                        metadataHandler.accept(metadataHandlerEvent);
                    }
                    return;
                }
            }
            if (node.has("channel_index")
                    && node.has("duration")
                    && node.has("start")
                    && node.has("channel")
                    && node.has("metadata")
                    && "Results".equals(node.path("type").asText())) {
                ListenV1Results resultsHandlerEvent = null;
                try {
                    resultsHandlerEvent = objectMapper.treeToValue(node, ListenV1Results.class);
                } catch (Exception e) {
                }
                if (resultsHandlerEvent != null) {
                    if (resultsHandler != null) {
                        resultsHandler.accept(resultsHandlerEvent);
                    }
                    return;
                }
            }
            if (node.has("channel")
                    && node.has("last_word_end")
                    && "UtteranceEnd".equals(node.path("type").asText())) {
                ListenV1UtteranceEnd utteranceEndHandlerEvent = null;
                try {
                    utteranceEndHandlerEvent = objectMapper.treeToValue(node, ListenV1UtteranceEnd.class);
                } catch (Exception e) {
                }
                if (utteranceEndHandlerEvent != null) {
                    if (utteranceEndHandler != null) {
                        utteranceEndHandler.accept(utteranceEndHandlerEvent);
                    }
                    return;
                }
            }
            if (node.has("channel")
                    && node.has("timestamp")
                    && "SpeechStarted".equals(node.path("type").asText())) {
                ListenV1SpeechStarted speechStartedHandlerEvent = null;
                try {
                    speechStartedHandlerEvent = objectMapper.treeToValue(node, ListenV1SpeechStarted.class);
                } catch (Exception e) {
                }
                if (speechStartedHandlerEvent != null) {
                    if (speechStartedHandler != null) {
                        speechStartedHandler.accept(speechStartedHandlerEvent);
                    }
                    return;
                }
            }
            if (onErrorHandler != null) {
                onErrorHandler.accept(new RuntimeException(
                        "Unrecognized WebSocket message: " + json.substring(0, Math.min(200, json.length()))
                                + "... Update your SDK version to support new message types."));
            }
        } catch (Exception e) {
            if (onErrorHandler != null) {
                onErrorHandler.accept(e);
            }
        }
    }
}
