/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.deepgram.resources.agent.v1.websocket;

import com.deepgram.core.ClientOptions;
import com.deepgram.core.DisconnectReason;
import com.deepgram.core.ObjectMappers;
import com.deepgram.core.ReconnectingWebSocketListener;
import com.deepgram.core.WebSocketReadyState;
import com.deepgram.resources.agent.v1.types.AgentV1AgentAudioDone;
import com.deepgram.resources.agent.v1.types.AgentV1AgentStartedSpeaking;
import com.deepgram.resources.agent.v1.types.AgentV1AgentThinking;
import com.deepgram.resources.agent.v1.types.AgentV1ConversationText;
import com.deepgram.resources.agent.v1.types.AgentV1Error;
import com.deepgram.resources.agent.v1.types.AgentV1FunctionCallRequest;
import com.deepgram.resources.agent.v1.types.AgentV1History;
import com.deepgram.resources.agent.v1.types.AgentV1InjectAgentMessage;
import com.deepgram.resources.agent.v1.types.AgentV1InjectUserMessage;
import com.deepgram.resources.agent.v1.types.AgentV1InjectionRefused;
import com.deepgram.resources.agent.v1.types.AgentV1KeepAlive;
import com.deepgram.resources.agent.v1.types.AgentV1PromptUpdated;
import com.deepgram.resources.agent.v1.types.AgentV1ReceiveFunctionCallResponse;
import com.deepgram.resources.agent.v1.types.AgentV1SendFunctionCallResponse;
import com.deepgram.resources.agent.v1.types.AgentV1Settings;
import com.deepgram.resources.agent.v1.types.AgentV1SettingsApplied;
import com.deepgram.resources.agent.v1.types.AgentV1SpeakUpdated;
import com.deepgram.resources.agent.v1.types.AgentV1ThinkUpdated;
import com.deepgram.resources.agent.v1.types.AgentV1UpdatePrompt;
import com.deepgram.resources.agent.v1.types.AgentV1UpdateSpeak;
import com.deepgram.resources.agent.v1.types.AgentV1UpdateThink;
import com.deepgram.resources.agent.v1.types.AgentV1UserStartedSpeaking;
import com.deepgram.resources.agent.v1.types.AgentV1Warning;
import com.deepgram.resources.agent.v1.types.AgentV1Welcome;
import com.fasterxml.jackson.databind.JsonNode;
import com.fasterxml.jackson.databind.ObjectMapper;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ScheduledExecutorService;
import java.util.function.Consumer;
import okhttp3.HttpUrl;
import okhttp3.OkHttpClient;
import okhttp3.Request;
import okhttp3.Response;
import okhttp3.WebSocket;
import okio.ByteString;

/**
 * WebSocket client for the v1 channel.
 * Provides real-time bidirectional communication with strongly-typed messages.
 */
public class V1WebSocketClient implements AutoCloseable {
    protected final ClientOptions clientOptions;

    private final ObjectMapper objectMapper;

    private final OkHttpClient okHttpClient;

    private ScheduledExecutorService timeoutExecutor;

    private volatile WebSocketReadyState readyState = WebSocketReadyState.CLOSED;

    private volatile Runnable onConnectedHandler;

    private volatile Consumer<DisconnectReason> onDisconnectedHandler;

    private volatile Consumer<Exception> onErrorHandler;

    private volatile Consumer<String> onMessageHandler;

    private volatile ReconnectingWebSocketListener.ReconnectOptions reconnectOptions;

    private CompletableFuture<Void> connectionFuture;

    private ReconnectingWebSocketListener reconnectingListener;

    private volatile Consumer<AgentV1ReceiveFunctionCallResponse> onFunctionCallResponseHandler;

    private volatile Consumer<AgentV1PromptUpdated> promptUpdatedHandler;

    private volatile Consumer<AgentV1SpeakUpdated> speakUpdatedHandler;

    private volatile Consumer<AgentV1ThinkUpdated> thinkUpdatedHandler;

    private volatile Consumer<AgentV1InjectionRefused> injectionRefusedHandler;

    private volatile Consumer<AgentV1Welcome> welcomeHandler;

    private volatile Consumer<AgentV1SettingsApplied> settingsAppliedHandler;

    private volatile Consumer<AgentV1ConversationText> conversationTextHandler;

    private volatile Consumer<AgentV1UserStartedSpeaking> userStartedSpeakingHandler;

    private volatile Consumer<AgentV1AgentThinking> agentThinkingHandler;

    private volatile Consumer<AgentV1FunctionCallRequest> functionCallRequestHandler;

    private volatile Consumer<AgentV1AgentStartedSpeaking> agentStartedSpeakingHandler;

    private volatile Consumer<AgentV1AgentAudioDone> agentAudioDoneHandler;

    private volatile Consumer<AgentV1Error> errorHandler;

    private volatile Consumer<AgentV1Warning> warningHandler;

    private volatile Consumer<AgentV1History> agentV1HistoryHandler;

    private volatile Consumer<ByteString> agentV1AudioHandler;

    /**
     * Creates a new async WebSocket client for the v1 channel.
     */
    public V1WebSocketClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.objectMapper = ObjectMappers.JSON_MAPPER;
        this.okHttpClient = clientOptions.httpClient();
    }

    /**
     * Establishes the WebSocket connection asynchronously with automatic reconnection.
     * @return a CompletableFuture that completes when the connection is established
     */
    public CompletableFuture<Void> connect() {
        connectionFuture = new CompletableFuture<>();
        String baseUrl = clientOptions.environment().getAgentURL();
        String fullPath = "/v1/agent/converse";
        if (baseUrl.endsWith("/") && fullPath.startsWith("/")) {
            fullPath = fullPath.substring(1);
        } else if (!baseUrl.endsWith("/") && !fullPath.startsWith("/")) {
            fullPath = "/" + fullPath;
        }
        // OkHttp's HttpUrl only supports http/https schemes; convert wss/ws for URL parsing
        if (baseUrl.startsWith("wss://")) {
            baseUrl = "https://" + baseUrl.substring(6);
        } else if (baseUrl.startsWith("ws://")) {
            baseUrl = "http://" + baseUrl.substring(5);
        }
        HttpUrl parsedUrl = HttpUrl.parse(baseUrl + fullPath);
        if (parsedUrl == null) {
            throw new IllegalArgumentException("Invalid WebSocket URL: " + baseUrl + fullPath);
        }
        HttpUrl.Builder urlBuilder = parsedUrl.newBuilder();
        Request.Builder requestBuilder = new Request.Builder().url(urlBuilder.build());
        clientOptions.headers(null).forEach(requestBuilder::addHeader);
        final Request request = requestBuilder.build();
        this.readyState = WebSocketReadyState.CONNECTING;
        ReconnectingWebSocketListener.ReconnectOptions reconnectOpts = this.reconnectOptions != null
                ? this.reconnectOptions
                : ReconnectingWebSocketListener.ReconnectOptions.builder().build();
        this.reconnectingListener =
                new ReconnectingWebSocketListener(reconnectOpts, () -> {
                    if (clientOptions.webSocketFactory().isPresent()) {
                        return clientOptions.webSocketFactory().get().create(request, this.reconnectingListener);
                    } else {
                        return okHttpClient.newWebSocket(request, this.reconnectingListener);
                    }
                }) {
                    @Override
                    protected void onWebSocketOpen(WebSocket webSocket, Response response) {
                        readyState = WebSocketReadyState.OPEN;
                        if (onConnectedHandler != null) {
                            onConnectedHandler.run();
                        }
                        connectionFuture.complete(null);
                    }

                    @Override
                    protected void onWebSocketMessage(WebSocket webSocket, String text) {
                        handleIncomingMessage(text);
                    }

                    @Override
                    protected void onWebSocketBinaryMessage(WebSocket webSocket, ByteString bytes) {
                        if (agentV1AudioHandler != null) {
                            agentV1AudioHandler.accept(bytes);
                        }
                    }

                    @Override
                    protected void onWebSocketFailure(WebSocket webSocket, Throwable t, Response response) {
                        readyState = WebSocketReadyState.CLOSED;
                        if (onErrorHandler != null) {
                            onErrorHandler.accept(new RuntimeException(t));
                        }
                        connectionFuture.completeExceptionally(t);
                    }

                    @Override
                    protected void onWebSocketClosed(WebSocket webSocket, int code, String reason) {
                        readyState = WebSocketReadyState.CLOSED;
                        if (onDisconnectedHandler != null) {
                            onDisconnectedHandler.accept(new DisconnectReason(code, reason));
                        }
                    }
                };
        reconnectingListener.connect();
        return connectionFuture;
    }

    /**
     * Disconnects the WebSocket connection and releases resources.
     */
    public void disconnect() {
        reconnectingListener.disconnect();
        if (timeoutExecutor != null) {
            timeoutExecutor.shutdownNow();
            timeoutExecutor = null;
        }
    }

    /**
     * Gets the current state of the WebSocket connection.
     *
     * This provides the actual connection state, similar to the W3C WebSocket API.
     *
     * @return the current WebSocket ready state
     */
    public WebSocketReadyState getReadyState() {
        return readyState;
    }

    /**
     * Sends an AgentV1Settings message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendSettings(AgentV1Settings message) {
        return sendMessage(message);
    }

    /**
     * Sends an AgentV1UpdateSpeak message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendUpdateSpeak(AgentV1UpdateSpeak message) {
        return sendMessage(message);
    }

    /**
     * Sends an AgentV1InjectUserMessage message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendInjectUserMessage(AgentV1InjectUserMessage message) {
        return sendMessage(message);
    }

    /**
     * Sends an AgentV1InjectAgentMessage message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendInjectAgentMessage(AgentV1InjectAgentMessage message) {
        return sendMessage(message);
    }

    /**
     * Sends an AgentV1SendFunctionCallResponse message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendFunctionCallResponse(AgentV1SendFunctionCallResponse message) {
        return sendMessage(message);
    }

    /**
     * Sends an AgentV1KeepAlive message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendKeepAlive(AgentV1KeepAlive message) {
        return sendMessage(message);
    }

    /**
     * Sends an AgentV1UpdatePrompt message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendUpdatePrompt(AgentV1UpdatePrompt message) {
        return sendMessage(message);
    }

    /**
     * Sends an AgentV1UpdateThink message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendUpdateThink(AgentV1UpdateThink message) {
        return sendMessage(message);
    }

    /**
     * Sends an AgentV1Media message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendMedia(ByteString message) {
        CompletableFuture<Void> future = new CompletableFuture<>();
        try {
            assertSocketIsOpen();
            // Use reconnecting listener's sendBinary method which handles queuing
            reconnectingListener.sendBinary(message);
            future.complete(null);
        } catch (Exception e) {
            future.completeExceptionally(new RuntimeException("Failed to send binary data", e));
        }
        return future;
    }

    /**
     * Registers a handler for AgentV1ReceiveFunctionCallResponse messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onFunctionCallResponse(Consumer<AgentV1ReceiveFunctionCallResponse> handler) {
        this.onFunctionCallResponseHandler = handler;
    }

    /**
     * Registers a handler for AgentV1PromptUpdated messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onPromptUpdated(Consumer<AgentV1PromptUpdated> handler) {
        this.promptUpdatedHandler = handler;
    }

    /**
     * Registers a handler for AgentV1SpeakUpdated messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onSpeakUpdated(Consumer<AgentV1SpeakUpdated> handler) {
        this.speakUpdatedHandler = handler;
    }

    /**
     * Registers a handler for AgentV1ThinkUpdated messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onThinkUpdated(Consumer<AgentV1ThinkUpdated> handler) {
        this.thinkUpdatedHandler = handler;
    }

    /**
     * Registers a handler for AgentV1InjectionRefused messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onInjectionRefused(Consumer<AgentV1InjectionRefused> handler) {
        this.injectionRefusedHandler = handler;
    }

    /**
     * Registers a handler for AgentV1Welcome messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onWelcome(Consumer<AgentV1Welcome> handler) {
        this.welcomeHandler = handler;
    }

    /**
     * Registers a handler for AgentV1SettingsApplied messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onSettingsApplied(Consumer<AgentV1SettingsApplied> handler) {
        this.settingsAppliedHandler = handler;
    }

    /**
     * Registers a handler for AgentV1ConversationText messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onConversationText(Consumer<AgentV1ConversationText> handler) {
        this.conversationTextHandler = handler;
    }

    /**
     * Registers a handler for AgentV1UserStartedSpeaking messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onUserStartedSpeaking(Consumer<AgentV1UserStartedSpeaking> handler) {
        this.userStartedSpeakingHandler = handler;
    }

    /**
     * Registers a handler for AgentV1AgentThinking messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onAgentThinking(Consumer<AgentV1AgentThinking> handler) {
        this.agentThinkingHandler = handler;
    }

    /**
     * Registers a handler for AgentV1FunctionCallRequest messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onFunctionCallRequest(Consumer<AgentV1FunctionCallRequest> handler) {
        this.functionCallRequestHandler = handler;
    }

    /**
     * Registers a handler for AgentV1AgentStartedSpeaking messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onAgentStartedSpeaking(Consumer<AgentV1AgentStartedSpeaking> handler) {
        this.agentStartedSpeakingHandler = handler;
    }

    /**
     * Registers a handler for AgentV1AgentAudioDone messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onAgentAudioDone(Consumer<AgentV1AgentAudioDone> handler) {
        this.agentAudioDoneHandler = handler;
    }

    /**
     * Registers a handler for AgentV1Error messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onErrorMessage(Consumer<AgentV1Error> handler) {
        this.errorHandler = handler;
    }

    /**
     * Registers a handler for AgentV1Warning messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onWarning(Consumer<AgentV1Warning> handler) {
        this.warningHandler = handler;
    }

    /**
     * Registers a handler for AgentV1History messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onAgentV1History(Consumer<AgentV1History> handler) {
        this.agentV1HistoryHandler = handler;
    }

    /**
     * Registers a handler for AgentV1Audio messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onAgentV1Audio(Consumer<ByteString> handler) {
        this.agentV1AudioHandler = handler;
    }

    /**
     * Registers a handler called when the connection is established.
     * @param handler the handler to invoke when connected
     */
    public void onConnected(Runnable handler) {
        this.onConnectedHandler = handler;
    }

    /**
     * Registers a handler called when the connection is closed.
     * @param handler the handler to invoke when disconnected
     */
    public void onDisconnected(Consumer<DisconnectReason> handler) {
        this.onDisconnectedHandler = handler;
    }

    /**
     * Registers a handler called when an error occurs.
     * @param handler the handler to invoke on error
     */
    public void onError(Consumer<Exception> handler) {
        this.onErrorHandler = handler;
    }

    /**
     * Registers a handler called for every incoming text message.
     * The handler receives the raw JSON string before type-specific dispatch.
     * @param handler the handler to invoke with the raw message JSON
     */
    public void onMessage(Consumer<String> handler) {
        this.onMessageHandler = handler;
    }

    /**
     * Configures reconnection behavior. Must be called before {@link #connect}.
     *
     * @param options the reconnection options (backoff, retries, queue size)
     */
    public void reconnectOptions(ReconnectingWebSocketListener.ReconnectOptions options) {
        this.reconnectOptions = options;
    }

    /**
     * Closes this WebSocket client, releasing all resources.
     * Equivalent to calling {@link #disconnect()}.
     */
    @Override
    public void close() {
        disconnect();
    }

    /**
     * Ensures the WebSocket is connected and ready to send messages.
     * @throws IllegalStateException if the socket is not connected or not open
     */
    private void assertSocketIsOpen() {
        if (reconnectingListener.getWebSocket() == null) {
            throw new IllegalStateException("WebSocket is not connected. Call connect() first.");
        }
        if (readyState != WebSocketReadyState.OPEN) {
            throw new IllegalStateException("WebSocket is not open. Current state: " + readyState);
        }
    }

    private CompletableFuture<Void> sendMessage(Object body) {
        CompletableFuture<Void> future = new CompletableFuture<>();
        try {
            assertSocketIsOpen();
            String json = objectMapper.writeValueAsString(body);
            // Use reconnecting listener's send method which handles queuing
            reconnectingListener.send(json);
            future.complete(null);
        } catch (IllegalStateException e) {
            future.completeExceptionally(e);
        } catch (Exception e) {
            future.completeExceptionally(new RuntimeException("Failed to send message", e));
        }
        return future;
    }

    private void handleIncomingMessage(String json) {
        try {
            if (onMessageHandler != null) {
                onMessageHandler.accept(json);
            }
            JsonNode node = objectMapper.readTree(json);
            if (node == null || node.isNull()) {
                throw new IllegalArgumentException("Received null or invalid JSON message");
            }
            if (node.has("total_latency")
                    && node.has("tts_latency")
                    && node.has("ttt_latency")
                    && "AgentStartedSpeaking".equals(node.path("type").asText())) {
                AgentV1AgentStartedSpeaking agentStartedSpeakingHandlerEvent = null;
                try {
                    agentStartedSpeakingHandlerEvent =
                            objectMapper.treeToValue(node, AgentV1AgentStartedSpeaking.class);
                } catch (Exception e) {
                }
                if (agentStartedSpeakingHandlerEvent != null) {
                    if (agentStartedSpeakingHandler != null) {
                        agentStartedSpeakingHandler.accept(agentStartedSpeakingHandlerEvent);
                    }
                    return;
                }
            }
            if (node.has("name")
                    && node.has("content")
                    && "FunctionCallResponse".equals(node.path("type").asText())) {
                AgentV1ReceiveFunctionCallResponse onFunctionCallResponseHandlerEvent = null;
                try {
                    onFunctionCallResponseHandlerEvent =
                            objectMapper.treeToValue(node, AgentV1ReceiveFunctionCallResponse.class);
                } catch (Exception e) {
                }
                if (onFunctionCallResponseHandlerEvent != null) {
                    if (onFunctionCallResponseHandler != null) {
                        onFunctionCallResponseHandler.accept(onFunctionCallResponseHandlerEvent);
                    }
                    return;
                }
            }
            if (node.has("role")
                    && node.has("content")
                    && "ConversationText".equals(node.path("type").asText())) {
                AgentV1ConversationText conversationTextHandlerEvent = null;
                try {
                    conversationTextHandlerEvent = objectMapper.treeToValue(node, AgentV1ConversationText.class);
                } catch (Exception e) {
                }
                if (conversationTextHandlerEvent != null) {
                    if (conversationTextHandler != null) {
                        conversationTextHandler.accept(conversationTextHandlerEvent);
                    }
                    return;
                }
            }
            if (node.has("description")
                    && node.has("code")
                    && "Error".equals(node.path("type").asText())) {
                AgentV1Error errorHandlerEvent = null;
                try {
                    errorHandlerEvent = objectMapper.treeToValue(node, AgentV1Error.class);
                } catch (Exception e) {
                }
                if (errorHandlerEvent != null) {
                    if (errorHandler != null) {
                        errorHandler.accept(errorHandlerEvent);
                    }
                    return;
                }
            }
            if (node.has("description")
                    && node.has("code")
                    && "Warning".equals(node.path("type").asText())) {
                AgentV1Warning warningHandlerEvent = null;
                try {
                    warningHandlerEvent = objectMapper.treeToValue(node, AgentV1Warning.class);
                } catch (Exception e) {
                }
                if (warningHandlerEvent != null) {
                    if (warningHandler != null) {
                        warningHandler.accept(warningHandlerEvent);
                    }
                    return;
                }
            }
            if (node.has("message")
                    && "InjectionRefused".equals(node.path("type").asText())) {
                AgentV1InjectionRefused injectionRefusedHandlerEvent = null;
                try {
                    injectionRefusedHandlerEvent = objectMapper.treeToValue(node, AgentV1InjectionRefused.class);
                } catch (Exception e) {
                }
                if (injectionRefusedHandlerEvent != null) {
                    if (injectionRefusedHandler != null) {
                        injectionRefusedHandler.accept(injectionRefusedHandlerEvent);
                    }
                    return;
                }
            }
            if (node.has("request_id") && "Welcome".equals(node.path("type").asText())) {
                AgentV1Welcome welcomeHandlerEvent = null;
                try {
                    welcomeHandlerEvent = objectMapper.treeToValue(node, AgentV1Welcome.class);
                } catch (Exception e) {
                }
                if (welcomeHandlerEvent != null) {
                    if (welcomeHandler != null) {
                        welcomeHandler.accept(welcomeHandlerEvent);
                    }
                    return;
                }
            }
            if (node.has("content") && "AgentThinking".equals(node.path("type").asText())) {
                AgentV1AgentThinking agentThinkingHandlerEvent = null;
                try {
                    agentThinkingHandlerEvent = objectMapper.treeToValue(node, AgentV1AgentThinking.class);
                } catch (Exception e) {
                }
                if (agentThinkingHandlerEvent != null) {
                    if (agentThinkingHandler != null) {
                        agentThinkingHandler.accept(agentThinkingHandlerEvent);
                    }
                    return;
                }
            }
            if (node.has("functions")
                    && "FunctionCallRequest".equals(node.path("type").asText())) {
                AgentV1FunctionCallRequest functionCallRequestHandlerEvent = null;
                try {
                    functionCallRequestHandlerEvent = objectMapper.treeToValue(node, AgentV1FunctionCallRequest.class);
                } catch (Exception e) {
                }
                if (functionCallRequestHandlerEvent != null) {
                    if (functionCallRequestHandler != null) {
                        functionCallRequestHandler.accept(functionCallRequestHandlerEvent);
                    }
                    return;
                }
            }
            if ("PromptUpdated".equals(node.path("type").asText())) {
                AgentV1PromptUpdated promptUpdatedHandlerEvent = null;
                try {
                    promptUpdatedHandlerEvent = objectMapper.treeToValue(node, AgentV1PromptUpdated.class);
                } catch (Exception e) {
                }
                if (promptUpdatedHandlerEvent != null) {
                    if (promptUpdatedHandler != null) {
                        promptUpdatedHandler.accept(promptUpdatedHandlerEvent);
                    }
                    return;
                }
            }
            if ("SpeakUpdated".equals(node.path("type").asText())) {
                AgentV1SpeakUpdated speakUpdatedHandlerEvent = null;
                try {
                    speakUpdatedHandlerEvent = objectMapper.treeToValue(node, AgentV1SpeakUpdated.class);
                } catch (Exception e) {
                }
                if (speakUpdatedHandlerEvent != null) {
                    if (speakUpdatedHandler != null) {
                        speakUpdatedHandler.accept(speakUpdatedHandlerEvent);
                    }
                    return;
                }
            }
            if ("ThinkUpdated".equals(node.path("type").asText())) {
                AgentV1ThinkUpdated thinkUpdatedHandlerEvent = null;
                try {
                    thinkUpdatedHandlerEvent = objectMapper.treeToValue(node, AgentV1ThinkUpdated.class);
                } catch (Exception e) {
                }
                if (thinkUpdatedHandlerEvent != null) {
                    if (thinkUpdatedHandler != null) {
                        thinkUpdatedHandler.accept(thinkUpdatedHandlerEvent);
                    }
                    return;
                }
            }
            if ("SettingsApplied".equals(node.path("type").asText())) {
                AgentV1SettingsApplied settingsAppliedHandlerEvent = null;
                try {
                    settingsAppliedHandlerEvent = objectMapper.treeToValue(node, AgentV1SettingsApplied.class);
                } catch (Exception e) {
                }
                if (settingsAppliedHandlerEvent != null) {
                    if (settingsAppliedHandler != null) {
                        settingsAppliedHandler.accept(settingsAppliedHandlerEvent);
                    }
                    return;
                }
            }
            if ("UserStartedSpeaking".equals(node.path("type").asText())) {
                AgentV1UserStartedSpeaking userStartedSpeakingHandlerEvent = null;
                try {
                    userStartedSpeakingHandlerEvent = objectMapper.treeToValue(node, AgentV1UserStartedSpeaking.class);
                } catch (Exception e) {
                }
                if (userStartedSpeakingHandlerEvent != null) {
                    if (userStartedSpeakingHandler != null) {
                        userStartedSpeakingHandler.accept(userStartedSpeakingHandlerEvent);
                    }
                    return;
                }
            }
            if ("AgentAudioDone".equals(node.path("type").asText())) {
                AgentV1AgentAudioDone agentAudioDoneHandlerEvent = null;
                try {
                    agentAudioDoneHandlerEvent = objectMapper.treeToValue(node, AgentV1AgentAudioDone.class);
                } catch (Exception e) {
                }
                if (agentAudioDoneHandlerEvent != null) {
                    if (agentAudioDoneHandler != null) {
                        agentAudioDoneHandler.accept(agentAudioDoneHandlerEvent);
                    }
                    return;
                }
            }
            AgentV1History agentV1HistoryHandlerEvent = null;
            try {
                agentV1HistoryHandlerEvent = objectMapper.treeToValue(node, AgentV1History.class);
            } catch (Exception e) {
            }
            if (agentV1HistoryHandlerEvent != null) {
                if (agentV1HistoryHandler != null) {
                    agentV1HistoryHandler.accept(agentV1HistoryHandlerEvent);
                }
                return;
            }
            if (onErrorHandler != null) {
                onErrorHandler.accept(new RuntimeException(
                        "Unrecognized WebSocket message: " + json.substring(0, Math.min(200, json.length()))
                                + "... Update your SDK version to support new message types."));
            }
        } catch (Exception e) {
            if (onErrorHandler != null) {
                onErrorHandler.accept(e);
            }
        }
    }
}
