/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.deepgram.resources.agent.v1.websocket;

import com.deepgram.core.ClientOptions;
import com.deepgram.core.DisconnectReason;
import com.deepgram.core.ObjectMappers;
import com.deepgram.core.ReconnectingWebSocketListener;
import com.deepgram.core.WebSocketReadyState;
import com.deepgram.resources.agent.v1.types.AgentV1AgentAudioDone;
import com.deepgram.resources.agent.v1.types.AgentV1AgentStartedSpeaking;
import com.deepgram.resources.agent.v1.types.AgentV1AgentThinking;
import com.deepgram.resources.agent.v1.types.AgentV1ConversationText;
import com.deepgram.resources.agent.v1.types.AgentV1Error;
import com.deepgram.resources.agent.v1.types.AgentV1FunctionCallRequest;
import com.deepgram.resources.agent.v1.types.AgentV1InjectAgentMessage;
import com.deepgram.resources.agent.v1.types.AgentV1InjectUserMessage;
import com.deepgram.resources.agent.v1.types.AgentV1InjectionRefused;
import com.deepgram.resources.agent.v1.types.AgentV1KeepAlive;
import com.deepgram.resources.agent.v1.types.AgentV1PromptUpdated;
import com.deepgram.resources.agent.v1.types.AgentV1ReceiveFunctionCallResponse;
import com.deepgram.resources.agent.v1.types.AgentV1SendFunctionCallResponse;
import com.deepgram.resources.agent.v1.types.AgentV1Settings;
import com.deepgram.resources.agent.v1.types.AgentV1SettingsApplied;
import com.deepgram.resources.agent.v1.types.AgentV1SpeakUpdated;
import com.deepgram.resources.agent.v1.types.AgentV1UpdatePrompt;
import com.deepgram.resources.agent.v1.types.AgentV1UpdateSpeak;
import com.deepgram.resources.agent.v1.types.AgentV1UserStartedSpeaking;
import com.deepgram.resources.agent.v1.types.AgentV1Warning;
import com.deepgram.resources.agent.v1.types.AgentV1Welcome;
import com.fasterxml.jackson.databind.JsonNode;
import com.fasterxml.jackson.databind.ObjectMapper;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ScheduledExecutorService;
import java.util.function.Consumer;
import okhttp3.HttpUrl;
import okhttp3.OkHttpClient;
import okhttp3.Request;
import okhttp3.Response;
import okhttp3.WebSocket;
import okio.ByteString;

/**
 * WebSocket client for the v1 channel.
 * Provides real-time bidirectional communication with strongly-typed messages.
 */
public class V1WebSocketClient implements AutoCloseable {
    protected final ClientOptions clientOptions;

    private final ObjectMapper objectMapper;

    private final OkHttpClient okHttpClient;

    private ScheduledExecutorService timeoutExecutor;

    private volatile WebSocketReadyState readyState = WebSocketReadyState.CLOSED;

    private volatile Runnable onConnectedHandler;

    private volatile Consumer<DisconnectReason> onDisconnectedHandler;

    private volatile Consumer<Exception> onErrorHandler;

    private volatile Consumer<String> onMessageHandler;

    private volatile ReconnectingWebSocketListener.ReconnectOptions reconnectOptions;

    private CompletableFuture<Void> connectionFuture;

    private ReconnectingWebSocketListener reconnectingListener;

    private volatile Consumer<AgentV1ReceiveFunctionCallResponse> onFunctionCallResponseHandler;

    private volatile Consumer<AgentV1PromptUpdated> promptUpdatedHandler;

    private volatile Consumer<AgentV1SpeakUpdated> speakUpdatedHandler;

    private volatile Consumer<AgentV1InjectionRefused> injectionRefusedHandler;

    private volatile Consumer<AgentV1Welcome> welcomeHandler;

    private volatile Consumer<AgentV1SettingsApplied> settingsAppliedHandler;

    private volatile Consumer<AgentV1ConversationText> conversationTextHandler;

    private volatile Consumer<AgentV1UserStartedSpeaking> userStartedSpeakingHandler;

    private volatile Consumer<AgentV1AgentThinking> agentThinkingHandler;

    private volatile Consumer<AgentV1FunctionCallRequest> functionCallRequestHandler;

    private volatile Consumer<AgentV1AgentStartedSpeaking> agentStartedSpeakingHandler;

    private volatile Consumer<AgentV1AgentAudioDone> agentAudioDoneHandler;

    private volatile Consumer<AgentV1Error> errorHandler;

    private volatile Consumer<AgentV1Warning> warningHandler;

    private volatile Consumer<ByteString> agentV1AudioHandler;

    /**
     * Creates a new async WebSocket client for the v1 channel.
     */
    public V1WebSocketClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.objectMapper = ObjectMappers.JSON_MAPPER;
        this.okHttpClient = clientOptions.httpClient();
    }

    /**
     * Establishes the WebSocket connection asynchronously with automatic reconnection.
     * @return a CompletableFuture that completes when the connection is established
     */
    public CompletableFuture<Void> connect() {
        connectionFuture = new CompletableFuture<>();
        String baseUrl = clientOptions.environment().getAgentURL();
        String fullPath = "/v1/agent/converse";
        if (baseUrl.endsWith("/") && fullPath.startsWith("/")) {
            fullPath = fullPath.substring(1);
        } else if (!baseUrl.endsWith("/") && !fullPath.startsWith("/")) {
            fullPath = "/" + fullPath;
        }
        // OkHttp's HttpUrl only supports http/https schemes; convert wss/ws for URL parsing
        if (baseUrl.startsWith("wss://")) {
            baseUrl = "https://" + baseUrl.substring(6);
        } else if (baseUrl.startsWith("ws://")) {
            baseUrl = "http://" + baseUrl.substring(5);
        }
        HttpUrl parsedUrl = HttpUrl.parse(baseUrl + fullPath);
        if (parsedUrl == null) {
            throw new IllegalArgumentException("Invalid WebSocket URL: " + baseUrl + fullPath);
        }
        HttpUrl.Builder urlBuilder = parsedUrl.newBuilder();
        Request.Builder requestBuilder = new Request.Builder().url(urlBuilder.build());
        clientOptions.headers(null).forEach(requestBuilder::addHeader);
        final Request request = requestBuilder.build();
        this.readyState = WebSocketReadyState.CONNECTING;
        ReconnectingWebSocketListener.ReconnectOptions reconnectOpts = this.reconnectOptions != null
                ? this.reconnectOptions
                : ReconnectingWebSocketListener.ReconnectOptions.builder().build();
        this.reconnectingListener =
                new ReconnectingWebSocketListener(reconnectOpts, () -> {
                    if (clientOptions.webSocketFactory().isPresent()) {
                        return clientOptions.webSocketFactory().get().create(request, this.reconnectingListener);
                    } else {
                        return okHttpClient.newWebSocket(request, this.reconnectingListener);
                    }
                }) {
                    @Override
                    protected void onWebSocketOpen(WebSocket webSocket, Response response) {
                        readyState = WebSocketReadyState.OPEN;
                        if (onConnectedHandler != null) {
                            onConnectedHandler.run();
                        }
                        connectionFuture.complete(null);
                    }

                    @Override
                    protected void onWebSocketMessage(WebSocket webSocket, String text) {
                        handleIncomingMessage(text);
                    }

                    @Override
                    protected void onWebSocketBinaryMessage(WebSocket webSocket, ByteString bytes) {
                        if (agentV1AudioHandler != null) {
                            agentV1AudioHandler.accept(bytes);
                        }
                    }

                    @Override
                    protected void onWebSocketFailure(WebSocket webSocket, Throwable t, Response response) {
                        readyState = WebSocketReadyState.CLOSED;
                        if (onErrorHandler != null) {
                            onErrorHandler.accept(new RuntimeException(t));
                        }
                        connectionFuture.completeExceptionally(t);
                    }

                    @Override
                    protected void onWebSocketClosed(WebSocket webSocket, int code, String reason) {
                        readyState = WebSocketReadyState.CLOSED;
                        if (onDisconnectedHandler != null) {
                            onDisconnectedHandler.accept(new DisconnectReason(code, reason));
                        }
                    }
                };
        reconnectingListener.connect();
        return connectionFuture;
    }

    /**
     * Disconnects the WebSocket connection and releases resources.
     */
    public void disconnect() {
        reconnectingListener.disconnect();
        if (timeoutExecutor != null) {
            timeoutExecutor.shutdownNow();
            timeoutExecutor = null;
        }
    }

    /**
     * Gets the current state of the WebSocket connection.
     *
     * This provides the actual connection state, similar to the W3C WebSocket API.
     *
     * @return the current WebSocket ready state
     */
    public WebSocketReadyState getReadyState() {
        return readyState;
    }

    /**
     * Sends an AgentV1Settings message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendSettings(AgentV1Settings message) {
        return sendMessage(message);
    }

    /**
     * Sends an AgentV1UpdateSpeak message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendUpdateSpeak(AgentV1UpdateSpeak message) {
        return sendMessage(message);
    }

    /**
     * Sends an AgentV1InjectUserMessage message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendInjectUserMessage(AgentV1InjectUserMessage message) {
        return sendMessage(message);
    }

    /**
     * Sends an AgentV1InjectAgentMessage message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendInjectAgentMessage(AgentV1InjectAgentMessage message) {
        return sendMessage(message);
    }

    /**
     * Sends an AgentV1SendFunctionCallResponse message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendFunctionCallResponse(AgentV1SendFunctionCallResponse message) {
        return sendMessage(message);
    }

    /**
     * Sends an AgentV1KeepAlive message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendKeepAlive(AgentV1KeepAlive message) {
        return sendMessage(message);
    }

    /**
     * Sends an AgentV1UpdatePrompt message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendUpdatePrompt(AgentV1UpdatePrompt message) {
        return sendMessage(message);
    }

    /**
     * Sends an AgentV1Media message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendMedia(ByteString message) {
        CompletableFuture<Void> future = new CompletableFuture<>();
        try {
            assertSocketIsOpen();
            // Use reconnecting listener's sendBinary method which handles queuing
            reconnectingListener.sendBinary(message);
            future.complete(null);
        } catch (Exception e) {
            future.completeExceptionally(new RuntimeException("Failed to send binary data", e));
        }
        return future;
    }

    /**
     * Registers a handler for AgentV1ReceiveFunctionCallResponse messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onFunctionCallResponse(Consumer<AgentV1ReceiveFunctionCallResponse> handler) {
        this.onFunctionCallResponseHandler = handler;
    }

    /**
     * Registers a handler for AgentV1PromptUpdated messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onPromptUpdated(Consumer<AgentV1PromptUpdated> handler) {
        this.promptUpdatedHandler = handler;
    }

    /**
     * Registers a handler for AgentV1SpeakUpdated messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onSpeakUpdated(Consumer<AgentV1SpeakUpdated> handler) {
        this.speakUpdatedHandler = handler;
    }

    /**
     * Registers a handler for AgentV1InjectionRefused messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onInjectionRefused(Consumer<AgentV1InjectionRefused> handler) {
        this.injectionRefusedHandler = handler;
    }

    /**
     * Registers a handler for AgentV1Welcome messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onWelcome(Consumer<AgentV1Welcome> handler) {
        this.welcomeHandler = handler;
    }

    /**
     * Registers a handler for AgentV1SettingsApplied messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onSettingsApplied(Consumer<AgentV1SettingsApplied> handler) {
        this.settingsAppliedHandler = handler;
    }

    /**
     * Registers a handler for AgentV1ConversationText messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onConversationText(Consumer<AgentV1ConversationText> handler) {
        this.conversationTextHandler = handler;
    }

    /**
     * Registers a handler for AgentV1UserStartedSpeaking messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onUserStartedSpeaking(Consumer<AgentV1UserStartedSpeaking> handler) {
        this.userStartedSpeakingHandler = handler;
    }

    /**
     * Registers a handler for AgentV1AgentThinking messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onAgentThinking(Consumer<AgentV1AgentThinking> handler) {
        this.agentThinkingHandler = handler;
    }

    /**
     * Registers a handler for AgentV1FunctionCallRequest messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onFunctionCallRequest(Consumer<AgentV1FunctionCallRequest> handler) {
        this.functionCallRequestHandler = handler;
    }

    /**
     * Registers a handler for AgentV1AgentStartedSpeaking messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onAgentStartedSpeaking(Consumer<AgentV1AgentStartedSpeaking> handler) {
        this.agentStartedSpeakingHandler = handler;
    }

    /**
     * Registers a handler for AgentV1AgentAudioDone messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onAgentAudioDone(Consumer<AgentV1AgentAudioDone> handler) {
        this.agentAudioDoneHandler = handler;
    }

    /**
     * Registers a handler for AgentV1Error messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onErrorMessage(Consumer<AgentV1Error> handler) {
        this.errorHandler = handler;
    }

    /**
     * Registers a handler for AgentV1Warning messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onWarning(Consumer<AgentV1Warning> handler) {
        this.warningHandler = handler;
    }

    /**
     * Registers a handler for AgentV1Audio messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onAgentV1Audio(Consumer<ByteString> handler) {
        this.agentV1AudioHandler = handler;
    }

    /**
     * Registers a handler called when the connection is established.
     * @param handler the handler to invoke when connected
     */
    public void onConnected(Runnable handler) {
        this.onConnectedHandler = handler;
    }

    /**
     * Registers a handler called when the connection is closed.
     * @param handler the handler to invoke when disconnected
     */
    public void onDisconnected(Consumer<DisconnectReason> handler) {
        this.onDisconnectedHandler = handler;
    }

    /**
     * Registers a handler called when an error occurs.
     * @param handler the handler to invoke on error
     */
    public void onError(Consumer<Exception> handler) {
        this.onErrorHandler = handler;
    }

    /**
     * Registers a handler called for every incoming text message.
     * The handler receives the raw JSON string before type-specific dispatch.
     * @param handler the handler to invoke with the raw message JSON
     */
    public void onMessage(Consumer<String> handler) {
        this.onMessageHandler = handler;
    }

    /**
     * Configures reconnection behavior. Must be called before {@link #connect}.
     *
     * @param options the reconnection options (backoff, retries, queue size)
     */
    public void reconnectOptions(ReconnectingWebSocketListener.ReconnectOptions options) {
        this.reconnectOptions = options;
    }

    /**
     * Closes this WebSocket client, releasing all resources.
     * Equivalent to calling {@link #disconnect()}.
     */
    @Override
    public void close() {
        disconnect();
    }

    /**
     * Ensures the WebSocket is connected and ready to send messages.
     * @throws IllegalStateException if the socket is not connected or not open
     */
    private void assertSocketIsOpen() {
        if (reconnectingListener.getWebSocket() == null) {
            throw new IllegalStateException("WebSocket is not connected. Call connect() first.");
        }
        if (readyState != WebSocketReadyState.OPEN) {
            throw new IllegalStateException("WebSocket is not open. Current state: " + readyState);
        }
    }

    private CompletableFuture<Void> sendMessage(Object body) {
        CompletableFuture<Void> future = new CompletableFuture<>();
        try {
            assertSocketIsOpen();
            String json = objectMapper.writeValueAsString(body);
            // Use reconnecting listener's send method which handles queuing
            reconnectingListener.send(json);
            future.complete(null);
        } catch (IllegalStateException e) {
            future.completeExceptionally(e);
        } catch (Exception e) {
            future.completeExceptionally(new RuntimeException("Failed to send message", e));
        }
        return future;
    }

    private void handleIncomingMessage(String json) {
        try {
            if (onMessageHandler != null) {
                onMessageHandler.accept(json);
            }
            JsonNode node = objectMapper.readTree(json);
            if (node == null || node.isNull()) {
                throw new IllegalArgumentException("Received null or invalid JSON message");
            }
            JsonNode typeNode = node.get("type");
            if (typeNode == null || typeNode.isNull()) {
                throw new IllegalArgumentException("Message missing 'type' field");
            }
            String type = typeNode.asText();
            switch (type) {
                case "FunctionCallResponse":
                    if (onFunctionCallResponseHandler != null) {
                        AgentV1ReceiveFunctionCallResponse event =
                                objectMapper.treeToValue(node, AgentV1ReceiveFunctionCallResponse.class);
                        if (event != null) {
                            onFunctionCallResponseHandler.accept(event);
                        }
                    }
                    break;
                case "PromptUpdated":
                    if (promptUpdatedHandler != null) {
                        AgentV1PromptUpdated event = objectMapper.treeToValue(node, AgentV1PromptUpdated.class);
                        if (event != null) {
                            promptUpdatedHandler.accept(event);
                        }
                    }
                    break;
                case "SpeakUpdated":
                    if (speakUpdatedHandler != null) {
                        AgentV1SpeakUpdated event = objectMapper.treeToValue(node, AgentV1SpeakUpdated.class);
                        if (event != null) {
                            speakUpdatedHandler.accept(event);
                        }
                    }
                    break;
                case "InjectionRefused":
                    if (injectionRefusedHandler != null) {
                        AgentV1InjectionRefused event = objectMapper.treeToValue(node, AgentV1InjectionRefused.class);
                        if (event != null) {
                            injectionRefusedHandler.accept(event);
                        }
                    }
                    break;
                case "Welcome":
                    if (welcomeHandler != null) {
                        AgentV1Welcome event = objectMapper.treeToValue(node, AgentV1Welcome.class);
                        if (event != null) {
                            welcomeHandler.accept(event);
                        }
                    }
                    break;
                case "SettingsApplied":
                    if (settingsAppliedHandler != null) {
                        AgentV1SettingsApplied event = objectMapper.treeToValue(node, AgentV1SettingsApplied.class);
                        if (event != null) {
                            settingsAppliedHandler.accept(event);
                        }
                    }
                    break;
                case "ConversationText":
                    if (conversationTextHandler != null) {
                        AgentV1ConversationText event = objectMapper.treeToValue(node, AgentV1ConversationText.class);
                        if (event != null) {
                            conversationTextHandler.accept(event);
                        }
                    }
                    break;
                case "UserStartedSpeaking":
                    if (userStartedSpeakingHandler != null) {
                        AgentV1UserStartedSpeaking event =
                                objectMapper.treeToValue(node, AgentV1UserStartedSpeaking.class);
                        if (event != null) {
                            userStartedSpeakingHandler.accept(event);
                        }
                    }
                    break;
                case "AgentThinking":
                    if (agentThinkingHandler != null) {
                        AgentV1AgentThinking event = objectMapper.treeToValue(node, AgentV1AgentThinking.class);
                        if (event != null) {
                            agentThinkingHandler.accept(event);
                        }
                    }
                    break;
                case "FunctionCallRequest":
                    if (functionCallRequestHandler != null) {
                        AgentV1FunctionCallRequest event =
                                objectMapper.treeToValue(node, AgentV1FunctionCallRequest.class);
                        if (event != null) {
                            functionCallRequestHandler.accept(event);
                        }
                    }
                    break;
                case "AgentStartedSpeaking":
                    if (agentStartedSpeakingHandler != null) {
                        AgentV1AgentStartedSpeaking event =
                                objectMapper.treeToValue(node, AgentV1AgentStartedSpeaking.class);
                        if (event != null) {
                            agentStartedSpeakingHandler.accept(event);
                        }
                    }
                    break;
                case "AgentAudioDone":
                    if (agentAudioDoneHandler != null) {
                        AgentV1AgentAudioDone event = objectMapper.treeToValue(node, AgentV1AgentAudioDone.class);
                        if (event != null) {
                            agentAudioDoneHandler.accept(event);
                        }
                    }
                    break;
                case "Error":
                    if (errorHandler != null) {
                        AgentV1Error event = objectMapper.treeToValue(node, AgentV1Error.class);
                        if (event != null) {
                            errorHandler.accept(event);
                        }
                    }
                    break;
                case "Warning":
                    if (warningHandler != null) {
                        AgentV1Warning event = objectMapper.treeToValue(node, AgentV1Warning.class);
                        if (event != null) {
                            warningHandler.accept(event);
                        }
                    }
                    break;
                default:
                    if (onErrorHandler != null) {
                        onErrorHandler.accept(new RuntimeException("Unknown WebSocket message type: '" + type
                                + "'. Update your SDK version to support new message types."));
                    }
                    break;
            }
        } catch (Exception e) {
            if (onErrorHandler != null) {
                onErrorHandler.accept(e);
            }
        }
    }
}
