/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.deepgram.resources.speak.v2.audio.requests;

import com.deepgram.core.ObjectMappers;
import com.deepgram.resources.speak.v2.audio.types.AudioGenerateRequestCallbackMethod;
import com.deepgram.resources.speak.v2.audio.types.AudioGenerateRequestContainer;
import com.deepgram.resources.speak.v2.audio.types.AudioGenerateRequestEncoding;
import com.fasterxml.jackson.annotation.JsonAnyGetter;
import com.fasterxml.jackson.annotation.JsonAnySetter;
import com.fasterxml.jackson.annotation.JsonIgnore;
import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.annotation.JsonSetter;
import com.fasterxml.jackson.annotation.Nulls;
import com.fasterxml.jackson.databind.annotation.JsonDeserialize;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.Objects;
import java.util.Optional;
import org.jetbrains.annotations.NotNull;

@JsonInclude(JsonInclude.Include.NON_ABSENT)
@JsonDeserialize(builder = SpeakV2Request.Builder.class)
public final class SpeakV2Request {
    private final Optional<List<String>> tag;

    private final Optional<String> callback;

    private final Optional<AudioGenerateRequestCallbackMethod> callbackMethod;

    private final Optional<Boolean> mipOptOut;

    private final Optional<Integer> bitRate;

    private final Optional<AudioGenerateRequestContainer> container;

    private final Optional<AudioGenerateRequestEncoding> encoding;

    private final Optional<Integer> expressivity;

    private final String model;

    private final Optional<Integer> sampleRate;

    private final Optional<Double> speed;

    private final Optional<String> priority;

    private final String text;

    private final Map<String, Object> additionalProperties;

    private SpeakV2Request(
            Optional<List<String>> tag,
            Optional<String> callback,
            Optional<AudioGenerateRequestCallbackMethod> callbackMethod,
            Optional<Boolean> mipOptOut,
            Optional<Integer> bitRate,
            Optional<AudioGenerateRequestContainer> container,
            Optional<AudioGenerateRequestEncoding> encoding,
            Optional<Integer> expressivity,
            String model,
            Optional<Integer> sampleRate,
            Optional<Double> speed,
            Optional<String> priority,
            String text,
            Map<String, Object> additionalProperties) {
        this.tag = tag;
        this.callback = callback;
        this.callbackMethod = callbackMethod;
        this.mipOptOut = mipOptOut;
        this.bitRate = bitRate;
        this.container = container;
        this.encoding = encoding;
        this.expressivity = expressivity;
        this.model = model;
        this.sampleRate = sampleRate;
        this.speed = speed;
        this.priority = priority;
        this.text = text;
        this.additionalProperties = additionalProperties;
    }

    /**
     * @return Label your requests for the purpose of identification during usage reporting
     */
    @JsonIgnore
    public Optional<List<String>> getTag() {
        return tag;
    }

    /**
     * @return URL to which we'll make the callback request
     */
    @JsonIgnore
    public Optional<String> getCallback() {
        return callback;
    }

    /**
     * @return HTTP method by which the callback request will be made
     */
    @JsonIgnore
    public Optional<AudioGenerateRequestCallbackMethod> getCallbackMethod() {
        return callbackMethod;
    }

    /**
     * @return Opts out requests from the Deepgram Model Improvement Program. Refer to our Docs for pricing impacts before setting this to true. https://dpgr.am/deepgram-mip
     */
    @JsonIgnore
    public Optional<Boolean> getMipOptOut() {
        return mipOptOut;
    }

    /**
     * @return The bitrate of the audio in bits per second. Choose from predefined ranges or specific values based on the encoding type.
     */
    @JsonIgnore
    public Optional<Integer> getBitRate() {
        return bitRate;
    }

    /**
     * @return Container specifies the file format wrapper for the output audio. The available options depend on the encoding type.
     */
    @JsonIgnore
    public Optional<AudioGenerateRequestContainer> getContainer() {
        return container;
    }

    /**
     * @return Encoding allows you to specify the expected encoding of your audio output
     */
    @JsonIgnore
    public Optional<AudioGenerateRequestEncoding> getEncoding() {
        return encoding;
    }

    /**
     * @return Expressive range of the generated speech, on a calm-to-animated axis. Accepted values: <code>-2</code>, <code>-1</code>, <code>0</code>, <code>1</code>, <code>2</code>. <code>0</code> (the default) is the voice's tuned delivery and the production-validated setting, with <code>-2</code> the calm end of the range and <code>2</code> the animated end. Supported on all Flux voices; applies to the whole request. Beta: behavior may change in future model versions, and non-default values increase the risk of hallucinations and pronunciation errors; audition before shipping. An invalid value is rejected with a <code>400</code> — <code>EXPRESSIVITY_OUT_OF_RANGE</code> for a value outside the range, <code>EXPRESSIVITY_INCREMENT_INVALID</code> for a fractional value. See <a href="/docs/tts-expressivity">Expressivity</a>.
     */
    @JsonIgnore
    public Optional<Integer> getExpressivity() {
        return expressivity;
    }

    /**
     * @return Flux TTS model used to synthesize the submitted text, in the form <code>flux-{voice}-{language}</code> (for example, <code>flux-alexis-en</code>). Required; unlike the v1 (Aura) endpoint there is no default and only flux models are accepted. English-only at launch.
     */
    @JsonIgnore
    public String getModel() {
        return model;
    }

    /**
     * @return Sample Rate specifies the sample rate for the output audio. Based on the encoding, different sample rates are supported. For some encodings, the sample rate is not configurable
     */
    @JsonIgnore
    public Optional<Integer> getSampleRate() {
        return sampleRate;
    }

    /**
     * @return Speaking rate multiplier that adjusts the pace of generated speech while preserving natural prosody and voice quality. Accepted values run <code>0.85</code> to <code>1.15</code> in <code>0.05</code> increments. Not yet supported in all languages.
     */
    @JsonIgnore
    public Optional<Double> getSpeed() {
        return speed;
    }

    /**
     * @return Processing priority for asynchronous (callback) requests. The only supported value is low.
     */
    @JsonIgnore
    public Optional<String> getPriority() {
        return priority;
    }

    /**
     * @return The text content to be converted to speech. The server normalizes and preprocesses the text before synthesis. Inline pause and pronunciation controls are not yet applied; they are stripped from the text before synthesis.
     */
    @JsonProperty("text")
    public String getText() {
        return text;
    }

    @java.lang.Override
    public boolean equals(Object other) {
        if (this == other) return true;
        return other instanceof SpeakV2Request && equalTo((SpeakV2Request) other);
    }

    @JsonAnyGetter
    public Map<String, Object> getAdditionalProperties() {
        return this.additionalProperties;
    }

    private boolean equalTo(SpeakV2Request other) {
        return tag.equals(other.tag)
                && callback.equals(other.callback)
                && callbackMethod.equals(other.callbackMethod)
                && mipOptOut.equals(other.mipOptOut)
                && bitRate.equals(other.bitRate)
                && container.equals(other.container)
                && encoding.equals(other.encoding)
                && expressivity.equals(other.expressivity)
                && model.equals(other.model)
                && sampleRate.equals(other.sampleRate)
                && speed.equals(other.speed)
                && priority.equals(other.priority)
                && text.equals(other.text);
    }

    @java.lang.Override
    public int hashCode() {
        return Objects.hash(
                this.tag,
                this.callback,
                this.callbackMethod,
                this.mipOptOut,
                this.bitRate,
                this.container,
                this.encoding,
                this.expressivity,
                this.model,
                this.sampleRate,
                this.speed,
                this.priority,
                this.text);
    }

    @java.lang.Override
    public String toString() {
        return ObjectMappers.stringify(this);
    }

    public static ModelStage builder() {
        return new Builder();
    }

    public interface ModelStage {
        /**
         * <p>Flux TTS model used to synthesize the submitted text, in the form <code>flux-{voice}-{language}</code> (for example, <code>flux-alexis-en</code>). Required; unlike the v1 (Aura) endpoint there is no default and only flux models are accepted. English-only at launch.</p>
         */
        TextStage model(@NotNull String model);

        Builder from(SpeakV2Request other);
    }

    public interface TextStage {
        /**
         * <p>The text content to be converted to speech. The server normalizes and preprocesses the text before synthesis. Inline pause and pronunciation controls are not yet applied; they are stripped from the text before synthesis.</p>
         */
        _FinalStage text(@NotNull String text);
    }

    public interface _FinalStage {
        SpeakV2Request build();

        _FinalStage additionalProperty(String key, Object value);

        _FinalStage additionalProperties(Map<String, Object> additionalProperties);

        /**
         * <p>Label your requests for the purpose of identification during usage reporting</p>
         */
        _FinalStage tag(Optional<List<String>> tag);

        _FinalStage tag(List<String> tag);

        _FinalStage tag(String tag);

        /**
         * <p>URL to which we'll make the callback request</p>
         */
        _FinalStage callback(Optional<String> callback);

        _FinalStage callback(String callback);

        /**
         * <p>HTTP method by which the callback request will be made</p>
         */
        _FinalStage callbackMethod(Optional<AudioGenerateRequestCallbackMethod> callbackMethod);

        _FinalStage callbackMethod(AudioGenerateRequestCallbackMethod callbackMethod);

        /**
         * <p>Opts out requests from the Deepgram Model Improvement Program. Refer to our Docs for pricing impacts before setting this to true. https://dpgr.am/deepgram-mip</p>
         */
        _FinalStage mipOptOut(Optional<Boolean> mipOptOut);

        _FinalStage mipOptOut(Boolean mipOptOut);

        /**
         * <p>The bitrate of the audio in bits per second. Choose from predefined ranges or specific values based on the encoding type.</p>
         */
        _FinalStage bitRate(Optional<Integer> bitRate);

        _FinalStage bitRate(Integer bitRate);

        /**
         * <p>Container specifies the file format wrapper for the output audio. The available options depend on the encoding type.</p>
         */
        _FinalStage container(Optional<AudioGenerateRequestContainer> container);

        _FinalStage container(AudioGenerateRequestContainer container);

        /**
         * <p>Encoding allows you to specify the expected encoding of your audio output</p>
         */
        _FinalStage encoding(Optional<AudioGenerateRequestEncoding> encoding);

        _FinalStage encoding(AudioGenerateRequestEncoding encoding);

        /**
         * <p>Expressive range of the generated speech, on a calm-to-animated axis. Accepted values: <code>-2</code>, <code>-1</code>, <code>0</code>, <code>1</code>, <code>2</code>. <code>0</code> (the default) is the voice's tuned delivery and the production-validated setting, with <code>-2</code> the calm end of the range and <code>2</code> the animated end. Supported on all Flux voices; applies to the whole request. Beta: behavior may change in future model versions, and non-default values increase the risk of hallucinations and pronunciation errors; audition before shipping. An invalid value is rejected with a <code>400</code> — <code>EXPRESSIVITY_OUT_OF_RANGE</code> for a value outside the range, <code>EXPRESSIVITY_INCREMENT_INVALID</code> for a fractional value. See <a href="/docs/tts-expressivity">Expressivity</a>.</p>
         */
        _FinalStage expressivity(Optional<Integer> expressivity);

        _FinalStage expressivity(Integer expressivity);

        /**
         * <p>Sample Rate specifies the sample rate for the output audio. Based on the encoding, different sample rates are supported. For some encodings, the sample rate is not configurable</p>
         */
        _FinalStage sampleRate(Optional<Integer> sampleRate);

        _FinalStage sampleRate(Integer sampleRate);

        /**
         * <p>Speaking rate multiplier that adjusts the pace of generated speech while preserving natural prosody and voice quality. Accepted values run <code>0.85</code> to <code>1.15</code> in <code>0.05</code> increments. Not yet supported in all languages.</p>
         */
        _FinalStage speed(Optional<Double> speed);

        _FinalStage speed(Double speed);

        /**
         * <p>Processing priority for asynchronous (callback) requests. The only supported value is low.</p>
         */
        _FinalStage priority(Optional<String> priority);

        _FinalStage priority(String priority);
    }

    @JsonIgnoreProperties(ignoreUnknown = true)
    public static final class Builder implements ModelStage, TextStage, _FinalStage {
        private String model;

        private String text;

        private Optional<String> priority = Optional.empty();

        private Optional<Double> speed = Optional.empty();

        private Optional<Integer> sampleRate = Optional.empty();

        private Optional<Integer> expressivity = Optional.empty();

        private Optional<AudioGenerateRequestEncoding> encoding = Optional.empty();

        private Optional<AudioGenerateRequestContainer> container = Optional.empty();

        private Optional<Integer> bitRate = Optional.empty();

        private Optional<Boolean> mipOptOut = Optional.empty();

        private Optional<AudioGenerateRequestCallbackMethod> callbackMethod = Optional.empty();

        private Optional<String> callback = Optional.empty();

        private Optional<List<String>> tag = Optional.empty();

        @JsonAnySetter
        private Map<String, Object> additionalProperties = new HashMap<>();

        private Builder() {}

        @java.lang.Override
        public Builder from(SpeakV2Request other) {
            tag(other.getTag());
            callback(other.getCallback());
            callbackMethod(other.getCallbackMethod());
            mipOptOut(other.getMipOptOut());
            bitRate(other.getBitRate());
            container(other.getContainer());
            encoding(other.getEncoding());
            expressivity(other.getExpressivity());
            model(other.getModel());
            sampleRate(other.getSampleRate());
            speed(other.getSpeed());
            priority(other.getPriority());
            text(other.getText());
            return this;
        }

        /**
         * <p>Flux TTS model used to synthesize the submitted text, in the form <code>flux-{voice}-{language}</code> (for example, <code>flux-alexis-en</code>). Required; unlike the v1 (Aura) endpoint there is no default and only flux models are accepted. English-only at launch.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        @JsonSetter("model")
        public TextStage model(@NotNull String model) {
            this.model = Objects.requireNonNull(model, "model must not be null");
            return this;
        }

        /**
         * <p>The text content to be converted to speech. The server normalizes and preprocesses the text before synthesis. Inline pause and pronunciation controls are not yet applied; they are stripped from the text before synthesis.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        @JsonSetter("text")
        public _FinalStage text(@NotNull String text) {
            this.text = Objects.requireNonNull(text, "text must not be null");
            return this;
        }

        /**
         * <p>Processing priority for asynchronous (callback) requests. The only supported value is low.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage priority(String priority) {
            this.priority = Optional.ofNullable(priority);
            return this;
        }

        /**
         * <p>Processing priority for asynchronous (callback) requests. The only supported value is low.</p>
         */
        @java.lang.Override
        @JsonSetter(value = "priority", nulls = Nulls.SKIP)
        public _FinalStage priority(Optional<String> priority) {
            this.priority = priority;
            return this;
        }

        /**
         * <p>Speaking rate multiplier that adjusts the pace of generated speech while preserving natural prosody and voice quality. Accepted values run <code>0.85</code> to <code>1.15</code> in <code>0.05</code> increments. Not yet supported in all languages.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage speed(Double speed) {
            this.speed = Optional.ofNullable(speed);
            return this;
        }

        /**
         * <p>Speaking rate multiplier that adjusts the pace of generated speech while preserving natural prosody and voice quality. Accepted values run <code>0.85</code> to <code>1.15</code> in <code>0.05</code> increments. Not yet supported in all languages.</p>
         */
        @java.lang.Override
        @JsonSetter(value = "speed", nulls = Nulls.SKIP)
        public _FinalStage speed(Optional<Double> speed) {
            this.speed = speed;
            return this;
        }

        /**
         * <p>Sample Rate specifies the sample rate for the output audio. Based on the encoding, different sample rates are supported. For some encodings, the sample rate is not configurable</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage sampleRate(Integer sampleRate) {
            this.sampleRate = Optional.ofNullable(sampleRate);
            return this;
        }

        /**
         * <p>Sample Rate specifies the sample rate for the output audio. Based on the encoding, different sample rates are supported. For some encodings, the sample rate is not configurable</p>
         */
        @java.lang.Override
        @JsonSetter(value = "sample_rate", nulls = Nulls.SKIP)
        public _FinalStage sampleRate(Optional<Integer> sampleRate) {
            this.sampleRate = sampleRate;
            return this;
        }

        /**
         * <p>Expressive range of the generated speech, on a calm-to-animated axis. Accepted values: <code>-2</code>, <code>-1</code>, <code>0</code>, <code>1</code>, <code>2</code>. <code>0</code> (the default) is the voice's tuned delivery and the production-validated setting, with <code>-2</code> the calm end of the range and <code>2</code> the animated end. Supported on all Flux voices; applies to the whole request. Beta: behavior may change in future model versions, and non-default values increase the risk of hallucinations and pronunciation errors; audition before shipping. An invalid value is rejected with a <code>400</code> — <code>EXPRESSIVITY_OUT_OF_RANGE</code> for a value outside the range, <code>EXPRESSIVITY_INCREMENT_INVALID</code> for a fractional value. See <a href="/docs/tts-expressivity">Expressivity</a>.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage expressivity(Integer expressivity) {
            this.expressivity = Optional.ofNullable(expressivity);
            return this;
        }

        /**
         * <p>Expressive range of the generated speech, on a calm-to-animated axis. Accepted values: <code>-2</code>, <code>-1</code>, <code>0</code>, <code>1</code>, <code>2</code>. <code>0</code> (the default) is the voice's tuned delivery and the production-validated setting, with <code>-2</code> the calm end of the range and <code>2</code> the animated end. Supported on all Flux voices; applies to the whole request. Beta: behavior may change in future model versions, and non-default values increase the risk of hallucinations and pronunciation errors; audition before shipping. An invalid value is rejected with a <code>400</code> — <code>EXPRESSIVITY_OUT_OF_RANGE</code> for a value outside the range, <code>EXPRESSIVITY_INCREMENT_INVALID</code> for a fractional value. See <a href="/docs/tts-expressivity">Expressivity</a>.</p>
         */
        @java.lang.Override
        @JsonSetter(value = "expressivity", nulls = Nulls.SKIP)
        public _FinalStage expressivity(Optional<Integer> expressivity) {
            this.expressivity = expressivity;
            return this;
        }

        /**
         * <p>Encoding allows you to specify the expected encoding of your audio output</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage encoding(AudioGenerateRequestEncoding encoding) {
            this.encoding = Optional.ofNullable(encoding);
            return this;
        }

        /**
         * <p>Encoding allows you to specify the expected encoding of your audio output</p>
         */
        @java.lang.Override
        @JsonSetter(value = "encoding", nulls = Nulls.SKIP)
        public _FinalStage encoding(Optional<AudioGenerateRequestEncoding> encoding) {
            this.encoding = encoding;
            return this;
        }

        /**
         * <p>Container specifies the file format wrapper for the output audio. The available options depend on the encoding type.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage container(AudioGenerateRequestContainer container) {
            this.container = Optional.ofNullable(container);
            return this;
        }

        /**
         * <p>Container specifies the file format wrapper for the output audio. The available options depend on the encoding type.</p>
         */
        @java.lang.Override
        @JsonSetter(value = "container", nulls = Nulls.SKIP)
        public _FinalStage container(Optional<AudioGenerateRequestContainer> container) {
            this.container = container;
            return this;
        }

        /**
         * <p>The bitrate of the audio in bits per second. Choose from predefined ranges or specific values based on the encoding type.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage bitRate(Integer bitRate) {
            this.bitRate = Optional.ofNullable(bitRate);
            return this;
        }

        /**
         * <p>The bitrate of the audio in bits per second. Choose from predefined ranges or specific values based on the encoding type.</p>
         */
        @java.lang.Override
        @JsonSetter(value = "bit_rate", nulls = Nulls.SKIP)
        public _FinalStage bitRate(Optional<Integer> bitRate) {
            this.bitRate = bitRate;
            return this;
        }

        /**
         * <p>Opts out requests from the Deepgram Model Improvement Program. Refer to our Docs for pricing impacts before setting this to true. https://dpgr.am/deepgram-mip</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage mipOptOut(Boolean mipOptOut) {
            this.mipOptOut = Optional.ofNullable(mipOptOut);
            return this;
        }

        /**
         * <p>Opts out requests from the Deepgram Model Improvement Program. Refer to our Docs for pricing impacts before setting this to true. https://dpgr.am/deepgram-mip</p>
         */
        @java.lang.Override
        @JsonSetter(value = "mip_opt_out", nulls = Nulls.SKIP)
        public _FinalStage mipOptOut(Optional<Boolean> mipOptOut) {
            this.mipOptOut = mipOptOut;
            return this;
        }

        /**
         * <p>HTTP method by which the callback request will be made</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage callbackMethod(AudioGenerateRequestCallbackMethod callbackMethod) {
            this.callbackMethod = Optional.ofNullable(callbackMethod);
            return this;
        }

        /**
         * <p>HTTP method by which the callback request will be made</p>
         */
        @java.lang.Override
        @JsonSetter(value = "callback_method", nulls = Nulls.SKIP)
        public _FinalStage callbackMethod(Optional<AudioGenerateRequestCallbackMethod> callbackMethod) {
            this.callbackMethod = callbackMethod;
            return this;
        }

        /**
         * <p>URL to which we'll make the callback request</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage callback(String callback) {
            this.callback = Optional.ofNullable(callback);
            return this;
        }

        /**
         * <p>URL to which we'll make the callback request</p>
         */
        @java.lang.Override
        @JsonSetter(value = "callback", nulls = Nulls.SKIP)
        public _FinalStage callback(Optional<String> callback) {
            this.callback = callback;
            return this;
        }

        @java.lang.Override
        public _FinalStage tag(String tag) {
            this.tag = Optional.of(Collections.singletonList(tag));
            return this;
        }

        /**
         * <p>Label your requests for the purpose of identification during usage reporting</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage tag(List<String> tag) {
            this.tag = Optional.ofNullable(tag);
            return this;
        }

        /**
         * <p>Label your requests for the purpose of identification during usage reporting</p>
         */
        @java.lang.Override
        @JsonSetter(value = "tag", nulls = Nulls.SKIP)
        public _FinalStage tag(Optional<List<String>> tag) {
            this.tag = tag;
            return this;
        }

        @java.lang.Override
        public SpeakV2Request build() {
            return new SpeakV2Request(
                    tag,
                    callback,
                    callbackMethod,
                    mipOptOut,
                    bitRate,
                    container,
                    encoding,
                    expressivity,
                    model,
                    sampleRate,
                    speed,
                    priority,
                    text,
                    additionalProperties);
        }

        @java.lang.Override
        public Builder additionalProperty(String key, Object value) {
            this.additionalProperties.put(key, value);
            return this;
        }

        @java.lang.Override
        public Builder additionalProperties(Map<String, Object> additionalProperties) {
            this.additionalProperties.putAll(additionalProperties);
            return this;
        }
    }
}
