/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.deepgram.resources.speak.v1.websocket;

import com.deepgram.core.ClientOptions;
import com.deepgram.core.DisconnectReason;
import com.deepgram.core.ObjectMappers;
import com.deepgram.core.ReconnectingWebSocketListener;
import com.deepgram.core.WebSocketReadyState;
import com.deepgram.resources.speak.v1.types.SpeakV1Clear;
import com.deepgram.resources.speak.v1.types.SpeakV1Cleared;
import com.deepgram.resources.speak.v1.types.SpeakV1Close;
import com.deepgram.resources.speak.v1.types.SpeakV1Flush;
import com.deepgram.resources.speak.v1.types.SpeakV1Flushed;
import com.deepgram.resources.speak.v1.types.SpeakV1Metadata;
import com.deepgram.resources.speak.v1.types.SpeakV1Text;
import com.deepgram.resources.speak.v1.types.SpeakV1Warning;
import com.fasterxml.jackson.databind.JsonNode;
import com.fasterxml.jackson.databind.ObjectMapper;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ScheduledExecutorService;
import java.util.function.Consumer;
import okhttp3.HttpUrl;
import okhttp3.OkHttpClient;
import okhttp3.Request;
import okhttp3.Response;
import okhttp3.WebSocket;
import okio.ByteString;

/**
 * WebSocket client for the v1 channel.
 * Provides real-time bidirectional communication with strongly-typed messages.
 */
public class V1WebSocketClient implements AutoCloseable {
    protected final ClientOptions clientOptions;

    private final ObjectMapper objectMapper;

    private final OkHttpClient okHttpClient;

    private ScheduledExecutorService timeoutExecutor;

    private volatile WebSocketReadyState readyState = WebSocketReadyState.CLOSED;

    private volatile Runnable onConnectedHandler;

    private volatile Consumer<DisconnectReason> onDisconnectedHandler;

    private volatile Consumer<Exception> onErrorHandler;

    private volatile Consumer<String> onMessageHandler;

    private volatile ReconnectingWebSocketListener.ReconnectOptions reconnectOptions;

    private CompletableFuture<Void> connectionFuture;

    private ReconnectingWebSocketListener reconnectingListener;

    private volatile Consumer<ByteString> speakV1AudioHandler;

    private volatile Consumer<SpeakV1Metadata> metadataHandler;

    private volatile Consumer<SpeakV1Flushed> flushedHandler;

    private volatile Consumer<SpeakV1Cleared> clearedHandler;

    private volatile Consumer<SpeakV1Warning> warningHandler;

    /**
     * Creates a new async WebSocket client for the v1 channel.
     */
    public V1WebSocketClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.objectMapper = ObjectMappers.JSON_MAPPER;
        this.okHttpClient = clientOptions.httpClient();
    }

    /**
     * Establishes the WebSocket connection asynchronously with automatic reconnection.
     * @return a CompletableFuture that completes when the connection is established
     * @param options connection options including query parameters
     */
    public CompletableFuture<Void> connect(V1ConnectOptions options) {
        connectionFuture = new CompletableFuture<>();
        String baseUrl = clientOptions.environment().getProductionURL();
        String fullPath = "/v1/speak";
        if (baseUrl.endsWith("/") && fullPath.startsWith("/")) {
            fullPath = fullPath.substring(1);
        } else if (!baseUrl.endsWith("/") && !fullPath.startsWith("/")) {
            fullPath = "/" + fullPath;
        }
        // OkHttp's HttpUrl only supports http/https schemes; convert wss/ws for URL parsing
        if (baseUrl.startsWith("wss://")) {
            baseUrl = "https://" + baseUrl.substring(6);
        } else if (baseUrl.startsWith("ws://")) {
            baseUrl = "http://" + baseUrl.substring(5);
        }
        HttpUrl parsedUrl = HttpUrl.parse(baseUrl + fullPath);
        if (parsedUrl == null) {
            throw new IllegalArgumentException("Invalid WebSocket URL: " + baseUrl + fullPath);
        }
        HttpUrl.Builder urlBuilder = parsedUrl.newBuilder();
        if (options.getEncoding() != null && options.getEncoding().isPresent()) {
            urlBuilder.addQueryParameter(
                    "encoding", String.valueOf(options.getEncoding().get()));
        }
        if (options.getMipOptOut() != null && options.getMipOptOut().isPresent()) {
            urlBuilder.addQueryParameter(
                    "mip_opt_out", String.valueOf(options.getMipOptOut().get()));
        }
        if (options.getModel() != null && options.getModel().isPresent()) {
            urlBuilder.addQueryParameter(
                    "model", String.valueOf(options.getModel().get()));
        }
        if (options.getSampleRate() != null && options.getSampleRate().isPresent()) {
            urlBuilder.addQueryParameter(
                    "sample_rate", String.valueOf(options.getSampleRate().get()));
        }
        Request.Builder requestBuilder = new Request.Builder().url(urlBuilder.build());
        clientOptions.headers(null).forEach(requestBuilder::addHeader);
        final Request request = requestBuilder.build();
        this.readyState = WebSocketReadyState.CONNECTING;
        ReconnectingWebSocketListener.ReconnectOptions reconnectOpts = this.reconnectOptions != null
                ? this.reconnectOptions
                : ReconnectingWebSocketListener.ReconnectOptions.builder().build();
        this.reconnectingListener =
                new ReconnectingWebSocketListener(reconnectOpts, () -> {
                    if (clientOptions.webSocketFactory().isPresent()) {
                        return clientOptions.webSocketFactory().get().create(request, this.reconnectingListener);
                    } else {
                        return okHttpClient.newWebSocket(request, this.reconnectingListener);
                    }
                }) {
                    @Override
                    protected void onWebSocketOpen(WebSocket webSocket, Response response) {
                        readyState = WebSocketReadyState.OPEN;
                        if (onConnectedHandler != null) {
                            onConnectedHandler.run();
                        }
                        connectionFuture.complete(null);
                    }

                    @Override
                    protected void onWebSocketMessage(WebSocket webSocket, String text) {
                        handleIncomingMessage(text);
                    }

                    @Override
                    protected void onWebSocketBinaryMessage(WebSocket webSocket, ByteString bytes) {
                        if (speakV1AudioHandler != null) {
                            speakV1AudioHandler.accept(bytes);
                        }
                    }

                    @Override
                    protected void onWebSocketFailure(WebSocket webSocket, Throwable t, Response response) {
                        readyState = WebSocketReadyState.CLOSED;
                        if (onErrorHandler != null) {
                            onErrorHandler.accept(new RuntimeException(t));
                        }
                        connectionFuture.completeExceptionally(t);
                    }

                    @Override
                    protected void onWebSocketClosed(WebSocket webSocket, int code, String reason) {
                        readyState = WebSocketReadyState.CLOSED;
                        if (onDisconnectedHandler != null) {
                            onDisconnectedHandler.accept(new DisconnectReason(code, reason));
                        }
                    }
                };
        reconnectingListener.connect();
        return connectionFuture;
    }

    /**
     * Establishes the WebSocket connection asynchronously with default options.
     * @return a CompletableFuture that completes when the connection is established
     */
    public CompletableFuture<Void> connect() {
        return connect(V1ConnectOptions.builder().build());
    }

    /**
     * Disconnects the WebSocket connection and releases resources.
     */
    public void disconnect() {
        reconnectingListener.disconnect();
        if (timeoutExecutor != null) {
            timeoutExecutor.shutdownNow();
            timeoutExecutor = null;
        }
    }

    /**
     * Gets the current state of the WebSocket connection.
     *
     * This provides the actual connection state, similar to the W3C WebSocket API.
     *
     * @return the current WebSocket ready state
     */
    public WebSocketReadyState getReadyState() {
        return readyState;
    }

    /**
     * Sends a SpeakV1Text message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendText(SpeakV1Text message) {
        return sendMessage(message);
    }

    /**
     * Sends a SpeakV1Flush message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendFlush(SpeakV1Flush message) {
        return sendMessage(message);
    }

    /**
     * Sends a SpeakV1Clear message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendClear(SpeakV1Clear message) {
        return sendMessage(message);
    }

    /**
     * Sends a SpeakV1Close message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendClose(SpeakV1Close message) {
        return sendMessage(message);
    }

    /**
     * Registers a handler for SpeakV1Audio messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onSpeakV1Audio(Consumer<ByteString> handler) {
        this.speakV1AudioHandler = handler;
    }

    /**
     * Registers a handler for SpeakV1Metadata messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onMetadata(Consumer<SpeakV1Metadata> handler) {
        this.metadataHandler = handler;
    }

    /**
     * Registers a handler for SpeakV1Flushed messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onFlushed(Consumer<SpeakV1Flushed> handler) {
        this.flushedHandler = handler;
    }

    /**
     * Registers a handler for SpeakV1Cleared messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onCleared(Consumer<SpeakV1Cleared> handler) {
        this.clearedHandler = handler;
    }

    /**
     * Registers a handler for SpeakV1Warning messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onWarning(Consumer<SpeakV1Warning> handler) {
        this.warningHandler = handler;
    }

    /**
     * Registers a handler called when the connection is established.
     * @param handler the handler to invoke when connected
     */
    public void onConnected(Runnable handler) {
        this.onConnectedHandler = handler;
    }

    /**
     * Registers a handler called when the connection is closed.
     * @param handler the handler to invoke when disconnected
     */
    public void onDisconnected(Consumer<DisconnectReason> handler) {
        this.onDisconnectedHandler = handler;
    }

    /**
     * Registers a handler called when an error occurs.
     * @param handler the handler to invoke on error
     */
    public void onError(Consumer<Exception> handler) {
        this.onErrorHandler = handler;
    }

    /**
     * Registers a handler called for every incoming text message.
     * The handler receives the raw JSON string before type-specific dispatch.
     * @param handler the handler to invoke with the raw message JSON
     */
    public void onMessage(Consumer<String> handler) {
        this.onMessageHandler = handler;
    }

    /**
     * Configures reconnection behavior. Must be called before {@link #connect}.
     *
     * @param options the reconnection options (backoff, retries, queue size)
     */
    public void reconnectOptions(ReconnectingWebSocketListener.ReconnectOptions options) {
        this.reconnectOptions = options;
    }

    /**
     * Closes this WebSocket client, releasing all resources.
     * Equivalent to calling {@link #disconnect()}.
     */
    @Override
    public void close() {
        disconnect();
    }

    /**
     * Ensures the WebSocket is connected and ready to send messages.
     * @throws IllegalStateException if the socket is not connected or not open
     */
    private void assertSocketIsOpen() {
        if (reconnectingListener.getWebSocket() == null) {
            throw new IllegalStateException("WebSocket is not connected. Call connect() first.");
        }
        if (readyState != WebSocketReadyState.OPEN) {
            throw new IllegalStateException("WebSocket is not open. Current state: " + readyState);
        }
    }

    private CompletableFuture<Void> sendMessage(Object body) {
        CompletableFuture<Void> future = new CompletableFuture<>();
        try {
            assertSocketIsOpen();
            String json = objectMapper.writeValueAsString(body);
            // Use reconnecting listener's send method which handles queuing
            reconnectingListener.send(json);
            future.complete(null);
        } catch (IllegalStateException e) {
            future.completeExceptionally(e);
        } catch (Exception e) {
            future.completeExceptionally(new RuntimeException("Failed to send message", e));
        }
        return future;
    }

    private void handleIncomingMessage(String json) {
        try {
            if (onMessageHandler != null) {
                onMessageHandler.accept(json);
            }
            JsonNode node = objectMapper.readTree(json);
            if (node == null || node.isNull()) {
                throw new IllegalArgumentException("Received null or invalid JSON message");
            }
            JsonNode typeNode = node.get("type");
            if (typeNode == null || typeNode.isNull()) {
                throw new IllegalArgumentException("Message missing 'type' field");
            }
            String type = typeNode.asText();
            switch (type) {
                case "Metadata":
                    if (metadataHandler != null) {
                        SpeakV1Metadata event = objectMapper.treeToValue(node, SpeakV1Metadata.class);
                        if (event != null) {
                            metadataHandler.accept(event);
                        }
                    }
                    break;
                case "Flushed":
                    if (flushedHandler != null) {
                        SpeakV1Flushed event = objectMapper.treeToValue(node, SpeakV1Flushed.class);
                        if (event != null) {
                            flushedHandler.accept(event);
                        }
                    }
                    break;
                case "Cleared":
                    if (clearedHandler != null) {
                        SpeakV1Cleared event = objectMapper.treeToValue(node, SpeakV1Cleared.class);
                        if (event != null) {
                            clearedHandler.accept(event);
                        }
                    }
                    break;
                case "Warning":
                    if (warningHandler != null) {
                        SpeakV1Warning event = objectMapper.treeToValue(node, SpeakV1Warning.class);
                        if (event != null) {
                            warningHandler.accept(event);
                        }
                    }
                    break;
                default:
                    if (onErrorHandler != null) {
                        onErrorHandler.accept(new RuntimeException("Unknown WebSocket message type: '" + type
                                + "'. Update your SDK version to support new message types."));
                    }
                    break;
            }
        } catch (Exception e) {
            if (onErrorHandler != null) {
                onErrorHandler.accept(e);
            }
        }
    }
}
