/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.deepgram.api.resources.agent.v1.websocket;

import com.deepgram.api.core.ClientOptions;
import com.deepgram.api.core.ObjectMappers;
import com.deepgram.api.core.ReconnectingWebSocketListener;
import com.deepgram.api.resources.agent.v1.types.AgentV1AgentAudioDone;
import com.deepgram.api.resources.agent.v1.types.AgentV1AgentStartedSpeaking;
import com.deepgram.api.resources.agent.v1.types.AgentV1AgentThinking;
import com.deepgram.api.resources.agent.v1.types.AgentV1ConversationText;
import com.deepgram.api.resources.agent.v1.types.AgentV1Error;
import com.deepgram.api.resources.agent.v1.types.AgentV1FunctionCallRequest;
import com.deepgram.api.resources.agent.v1.types.AgentV1InjectAgentMessage;
import com.deepgram.api.resources.agent.v1.types.AgentV1InjectUserMessage;
import com.deepgram.api.resources.agent.v1.types.AgentV1InjectionRefused;
import com.deepgram.api.resources.agent.v1.types.AgentV1KeepAlive;
import com.deepgram.api.resources.agent.v1.types.AgentV1PromptUpdated;
import com.deepgram.api.resources.agent.v1.types.AgentV1ReceiveFunctionCallResponse;
import com.deepgram.api.resources.agent.v1.types.AgentV1SendFunctionCallResponse;
import com.deepgram.api.resources.agent.v1.types.AgentV1Settings;
import com.deepgram.api.resources.agent.v1.types.AgentV1SettingsApplied;
import com.deepgram.api.resources.agent.v1.types.AgentV1SpeakUpdated;
import com.deepgram.api.resources.agent.v1.types.AgentV1UpdatePrompt;
import com.deepgram.api.resources.agent.v1.types.AgentV1UpdateSpeak;
import com.deepgram.api.resources.agent.v1.types.AgentV1UserStartedSpeaking;
import com.deepgram.api.resources.agent.v1.types.AgentV1Warning;
import com.deepgram.api.resources.agent.v1.types.AgentV1Welcome;
import com.fasterxml.jackson.databind.JsonNode;
import com.fasterxml.jackson.databind.ObjectMapper;
import java.util.HashMap;
import java.util.Map;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ScheduledExecutorService;
import java.util.function.Consumer;
import okhttp3.HttpUrl;
import okhttp3.OkHttpClient;
import okhttp3.Request;
import okhttp3.Response;
import okhttp3.WebSocket;

/**
 * WebSocket client for the v1 channel.
 * Provides real-time bidirectional communication with strongly-typed messages.
 */
public class V1WebSocketClient {
    protected final ClientOptions clientOptions;

    private final ObjectMapper objectMapper;

    private final OkHttpClient okHttpClient;

    private ScheduledExecutorService timeoutExecutor;

    private volatile WebSocketReadyState readyState = WebSocketReadyState.CLOSED;

    private Runnable onConnectedHandler;

    private Consumer<DisconnectReason> onDisconnectedHandler;

    private Consumer<Exception> onErrorHandler;

    private CompletableFuture<Void> connectionFuture;

    private ReconnectingWebSocketListener reconnectingListener;

    private Consumer<AgentV1ReceiveFunctionCallResponse> agentv1receivefunctioncallresponseHandler;

    private Consumer<AgentV1PromptUpdated> agentv1promptupdatedHandler;

    private Consumer<AgentV1SpeakUpdated> agentv1speakupdatedHandler;

    private Consumer<AgentV1InjectionRefused> agentv1injectionrefusedHandler;

    private Consumer<AgentV1Welcome> agentv1welcomeHandler;

    private Consumer<AgentV1SettingsApplied> agentv1settingsappliedHandler;

    private Consumer<AgentV1ConversationText> agentv1conversationtextHandler;

    private Consumer<AgentV1UserStartedSpeaking> agentv1userstartedspeakingHandler;

    private Consumer<AgentV1AgentThinking> agentv1agentthinkingHandler;

    private Consumer<AgentV1FunctionCallRequest> agentv1functioncallrequestHandler;

    private Consumer<AgentV1AgentStartedSpeaking> agentv1agentstartedspeakingHandler;

    private Consumer<AgentV1AgentAudioDone> agentv1agentaudiodoneHandler;

    private Consumer<AgentV1Error> agentv1errorHandler;

    private Consumer<AgentV1Warning> agentv1warningHandler;

    private Consumer<String> agentv1audioHandler;

    /**
     * Creates a new async WebSocket client for the v1 channel.
     */
    public V1WebSocketClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.objectMapper = ObjectMappers.JSON_MAPPER;
        this.okHttpClient = clientOptions.httpClient();
    }

    /**
     * Establishes the WebSocket connection asynchronously with automatic reconnection.
     * @return a CompletableFuture that completes when the connection is established
     */
    public CompletableFuture<Void> connect() {
        connectionFuture = new CompletableFuture<>();
        String baseUrl = clientOptions.environment().getUrl();
        StringBuilder pathBuilder = new StringBuilder();
        pathBuilder.append("/v1/agent/converse");
        String fullPath = pathBuilder.toString();
        if (baseUrl.endsWith("/") && fullPath.startsWith("/")) {
            fullPath = fullPath.substring(1);
        } else if (!baseUrl.endsWith("/") && !fullPath.startsWith("/")) {
            fullPath = "/" + fullPath;
        }
        HttpUrl.Builder urlBuilder = HttpUrl.parse(baseUrl + fullPath).newBuilder();
        Request.Builder requestBuilder = new Request.Builder().url(urlBuilder.build());
        // Header Authorization requires literal value support
        final Request request = requestBuilder.build();
        this.readyState = WebSocketReadyState.CONNECTING;
        ReconnectingWebSocketListener.ReconnectOptions reconnectOptions =
                ReconnectingWebSocketListener.ReconnectOptions.builder().build();
        this.reconnectingListener =
                new ReconnectingWebSocketListener(reconnectOptions, () -> {
                    if (clientOptions.webSocketFactory().isPresent()) {
                        return clientOptions.webSocketFactory().get().create(request, this.reconnectingListener);
                    } else {
                        return okHttpClient.newWebSocket(request, this.reconnectingListener);
                    }
                }) {
                    @Override
                    protected void onWebSocketOpen(WebSocket webSocket, Response response) {
                        readyState = WebSocketReadyState.OPEN;
                        if (onConnectedHandler != null) {
                            onConnectedHandler.run();
                        }
                        connectionFuture.complete(null);
                    }

                    @Override
                    protected void onWebSocketMessage(WebSocket webSocket, String text) {
                        handleIncomingMessage(text);
                    }

                    @Override
                    protected void onWebSocketFailure(WebSocket webSocket, Throwable t, Response response) {
                        readyState = WebSocketReadyState.CLOSED;
                        if (onErrorHandler != null) {
                            onErrorHandler.accept(new RuntimeException(t));
                        }
                        connectionFuture.completeExceptionally(t);
                    }

                    @Override
                    protected void onWebSocketClosed(WebSocket webSocket, int code, String reason) {
                        readyState = WebSocketReadyState.CLOSED;
                        if (onDisconnectedHandler != null) {
                            onDisconnectedHandler.accept(new DisconnectReason(code, reason));
                        }
                    }
                };
        reconnectingListener.connect();
        return connectionFuture;
    }

    /**
     * Disconnects the WebSocket connection and releases resources.
     */
    public void disconnect() {
        reconnectingListener.disconnect();
        if (timeoutExecutor != null) {
            timeoutExecutor.shutdownNow();
            timeoutExecutor = null;
        }
    }

    /**
     * Checks if a WebSocket instance exists (not necessarily connected).
     *
     * This method only verifies that a WebSocket object has been created, not whether
     * it's actively connected. For actual connection state, use getReadyState().
     *
     * @return true if a WebSocket instance exists, false otherwise
     * @deprecated Use getReadyState() for accurate connection status
     */
    @Deprecated
    public boolean hasWebSocketInstance() {
        // Check if WebSocket connection is open based on ready state
        return readyState == WebSocketReadyState.OPEN || readyState == WebSocketReadyState.CONNECTING;
    }

    /**
     * Gets the current state of the WebSocket connection.
     *
     * This provides the actual connection state, similar to the W3C WebSocket API.
     *
     * @return the current WebSocket ready state
     */
    public WebSocketReadyState getReadyState() {
        return readyState;
    }

    /**
     * Sends a AgentV1Settings message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendAgentV1Settings(AgentV1Settings message) {
        return sendMessage("AgentV1Settings", message);
    }

    /**
     * Sends a AgentV1UpdateSpeak message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendAgentV1UpdateSpeak(AgentV1UpdateSpeak message) {
        return sendMessage("AgentV1UpdateSpeak", message);
    }

    /**
     * Sends a AgentV1InjectUserMessage message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendAgentV1InjectUserMessage(AgentV1InjectUserMessage message) {
        return sendMessage("AgentV1InjectUserMessage", message);
    }

    /**
     * Sends a AgentV1InjectAgentMessage message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendAgentV1InjectAgentMessage(AgentV1InjectAgentMessage message) {
        return sendMessage("AgentV1InjectAgentMessage", message);
    }

    /**
     * Sends a AgentV1SendFunctionCallResponse message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendAgentV1SendFunctionCallResponse(AgentV1SendFunctionCallResponse message) {
        return sendMessage("AgentV1SendFunctionCallResponse", message);
    }

    /**
     * Sends a AgentV1KeepAlive message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendAgentV1KeepAlive(AgentV1KeepAlive message) {
        return sendMessage("AgentV1KeepAlive", message);
    }

    /**
     * Sends a AgentV1UpdatePrompt message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendAgentV1UpdatePrompt(AgentV1UpdatePrompt message) {
        return sendMessage("AgentV1UpdatePrompt", message);
    }

    /**
     * Sends a AgentV1Media message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendAgentV1Media(String message) {
        return sendMessage("AgentV1Media", message);
    }

    /**
     * Registers a handler for AgentV1ReceiveFunctionCallResponse messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onAgentV1ReceiveFunctionCallResponse(Consumer<AgentV1ReceiveFunctionCallResponse> handler) {
        this.agentv1receivefunctioncallresponseHandler = handler;
    }

    /**
     * Registers a handler for AgentV1PromptUpdated messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onAgentV1PromptUpdated(Consumer<AgentV1PromptUpdated> handler) {
        this.agentv1promptupdatedHandler = handler;
    }

    /**
     * Registers a handler for AgentV1SpeakUpdated messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onAgentV1SpeakUpdated(Consumer<AgentV1SpeakUpdated> handler) {
        this.agentv1speakupdatedHandler = handler;
    }

    /**
     * Registers a handler for AgentV1InjectionRefused messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onAgentV1InjectionRefused(Consumer<AgentV1InjectionRefused> handler) {
        this.agentv1injectionrefusedHandler = handler;
    }

    /**
     * Registers a handler for AgentV1Welcome messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onAgentV1Welcome(Consumer<AgentV1Welcome> handler) {
        this.agentv1welcomeHandler = handler;
    }

    /**
     * Registers a handler for AgentV1SettingsApplied messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onAgentV1SettingsApplied(Consumer<AgentV1SettingsApplied> handler) {
        this.agentv1settingsappliedHandler = handler;
    }

    /**
     * Registers a handler for AgentV1ConversationText messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onAgentV1ConversationText(Consumer<AgentV1ConversationText> handler) {
        this.agentv1conversationtextHandler = handler;
    }

    /**
     * Registers a handler for AgentV1UserStartedSpeaking messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onAgentV1UserStartedSpeaking(Consumer<AgentV1UserStartedSpeaking> handler) {
        this.agentv1userstartedspeakingHandler = handler;
    }

    /**
     * Registers a handler for AgentV1AgentThinking messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onAgentV1AgentThinking(Consumer<AgentV1AgentThinking> handler) {
        this.agentv1agentthinkingHandler = handler;
    }

    /**
     * Registers a handler for AgentV1FunctionCallRequest messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onAgentV1FunctionCallRequest(Consumer<AgentV1FunctionCallRequest> handler) {
        this.agentv1functioncallrequestHandler = handler;
    }

    /**
     * Registers a handler for AgentV1AgentStartedSpeaking messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onAgentV1AgentStartedSpeaking(Consumer<AgentV1AgentStartedSpeaking> handler) {
        this.agentv1agentstartedspeakingHandler = handler;
    }

    /**
     * Registers a handler for AgentV1AgentAudioDone messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onAgentV1AgentAudioDone(Consumer<AgentV1AgentAudioDone> handler) {
        this.agentv1agentaudiodoneHandler = handler;
    }

    /**
     * Registers a handler for AgentV1Error messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onAgentV1Error(Consumer<AgentV1Error> handler) {
        this.agentv1errorHandler = handler;
    }

    /**
     * Registers a handler for AgentV1Warning messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onAgentV1Warning(Consumer<AgentV1Warning> handler) {
        this.agentv1warningHandler = handler;
    }

    /**
     * Registers a handler for AgentV1Audio messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onAgentV1Audio(Consumer<String> handler) {
        this.agentv1audioHandler = handler;
    }

    /**
     * Registers a handler called when the connection is established.
     * @param handler the handler to invoke when connected
     */
    public void onConnected(Runnable handler) {
        this.onConnectedHandler = handler;
    }

    /**
     * Registers a handler called when the connection is closed.
     * @param handler the handler to invoke when disconnected
     */
    public void onDisconnected(Consumer<DisconnectReason> handler) {
        this.onDisconnectedHandler = handler;
    }

    /**
     * Registers a handler called when an error occurs.
     * @param handler the handler to invoke on error
     */
    public void onError(Consumer<Exception> handler) {
        this.onErrorHandler = handler;
    }

    /**
     * Ensures the WebSocket is connected and ready to send messages.
     * @throws IllegalStateException if the socket is not connected or not open
     */
    private void assertSocketIsOpen() {
        if (reconnectingListener.getWebSocket() == null) {
            throw new IllegalStateException("WebSocket is not connected. Call connect() first.");
        }
        if (readyState != WebSocketReadyState.OPEN) {
            throw new IllegalStateException("WebSocket is not open. Current state: " + readyState);
        }
    }

    private CompletableFuture<Void> sendMessage(String type, Object body) {
        CompletableFuture<Void> future = new CompletableFuture<>();
        try {
            assertSocketIsOpen();
            Map<String, Object> envelope = new HashMap<>();
            envelope.put("type", type);
            envelope.put("body", body);
            String json = objectMapper.writeValueAsString(envelope);
            // Use reconnecting listener's send method which handles queuing
            boolean sent = reconnectingListener.send(json);
            if (sent) {
                future.complete(null);
            } else {
                // Message was queued for later delivery when reconnected
                future.complete(null);
            }
        } catch (IllegalStateException e) {
            future.completeExceptionally(e);
        } catch (Exception e) {
            future.completeExceptionally(new RuntimeException("Failed to send message", e));
        }
        return future;
    }

    private void handleIncomingMessage(String json) {
        try {
            JsonNode envelope = objectMapper.readTree(json);
            if (envelope == null || envelope.isNull()) {
                throw new IllegalArgumentException("Received null or invalid JSON envelope");
            }
            JsonNode typeNode = envelope.get("type");
            if (typeNode == null || typeNode.isNull()) {
                throw new IllegalArgumentException("Message envelope missing 'type' field");
            }
            String type = typeNode.asText();
            JsonNode body = envelope.get("body");
            if (body == null) {
                throw new IllegalArgumentException("Message envelope missing 'body' field");
            }
            switch (type) {
                case "AgentV1ReceiveFunctionCallResponse":
                    if (agentv1receivefunctioncallresponseHandler != null) {
                        AgentV1ReceiveFunctionCallResponse event =
                                objectMapper.treeToValue(body, AgentV1ReceiveFunctionCallResponse.class);
                        if (event != null) {
                            agentv1receivefunctioncallresponseHandler.accept(event);
                        }
                    }
                    break;
                case "AgentV1PromptUpdated":
                    if (agentv1promptupdatedHandler != null) {
                        AgentV1PromptUpdated event = objectMapper.treeToValue(body, AgentV1PromptUpdated.class);
                        if (event != null) {
                            agentv1promptupdatedHandler.accept(event);
                        }
                    }
                    break;
                case "AgentV1SpeakUpdated":
                    if (agentv1speakupdatedHandler != null) {
                        AgentV1SpeakUpdated event = objectMapper.treeToValue(body, AgentV1SpeakUpdated.class);
                        if (event != null) {
                            agentv1speakupdatedHandler.accept(event);
                        }
                    }
                    break;
                case "AgentV1InjectionRefused":
                    if (agentv1injectionrefusedHandler != null) {
                        AgentV1InjectionRefused event = objectMapper.treeToValue(body, AgentV1InjectionRefused.class);
                        if (event != null) {
                            agentv1injectionrefusedHandler.accept(event);
                        }
                    }
                    break;
                case "AgentV1Welcome":
                    if (agentv1welcomeHandler != null) {
                        AgentV1Welcome event = objectMapper.treeToValue(body, AgentV1Welcome.class);
                        if (event != null) {
                            agentv1welcomeHandler.accept(event);
                        }
                    }
                    break;
                case "AgentV1SettingsApplied":
                    if (agentv1settingsappliedHandler != null) {
                        AgentV1SettingsApplied event = objectMapper.treeToValue(body, AgentV1SettingsApplied.class);
                        if (event != null) {
                            agentv1settingsappliedHandler.accept(event);
                        }
                    }
                    break;
                case "AgentV1ConversationText":
                    if (agentv1conversationtextHandler != null) {
                        AgentV1ConversationText event = objectMapper.treeToValue(body, AgentV1ConversationText.class);
                        if (event != null) {
                            agentv1conversationtextHandler.accept(event);
                        }
                    }
                    break;
                case "AgentV1UserStartedSpeaking":
                    if (agentv1userstartedspeakingHandler != null) {
                        AgentV1UserStartedSpeaking event =
                                objectMapper.treeToValue(body, AgentV1UserStartedSpeaking.class);
                        if (event != null) {
                            agentv1userstartedspeakingHandler.accept(event);
                        }
                    }
                    break;
                case "AgentV1AgentThinking":
                    if (agentv1agentthinkingHandler != null) {
                        AgentV1AgentThinking event = objectMapper.treeToValue(body, AgentV1AgentThinking.class);
                        if (event != null) {
                            agentv1agentthinkingHandler.accept(event);
                        }
                    }
                    break;
                case "AgentV1FunctionCallRequest":
                    if (agentv1functioncallrequestHandler != null) {
                        AgentV1FunctionCallRequest event =
                                objectMapper.treeToValue(body, AgentV1FunctionCallRequest.class);
                        if (event != null) {
                            agentv1functioncallrequestHandler.accept(event);
                        }
                    }
                    break;
                case "AgentV1AgentStartedSpeaking":
                    if (agentv1agentstartedspeakingHandler != null) {
                        AgentV1AgentStartedSpeaking event =
                                objectMapper.treeToValue(body, AgentV1AgentStartedSpeaking.class);
                        if (event != null) {
                            agentv1agentstartedspeakingHandler.accept(event);
                        }
                    }
                    break;
                case "AgentV1AgentAudioDone":
                    if (agentv1agentaudiodoneHandler != null) {
                        AgentV1AgentAudioDone event = objectMapper.treeToValue(body, AgentV1AgentAudioDone.class);
                        if (event != null) {
                            agentv1agentaudiodoneHandler.accept(event);
                        }
                    }
                    break;
                case "AgentV1Error":
                    if (agentv1errorHandler != null) {
                        AgentV1Error event = objectMapper.treeToValue(body, AgentV1Error.class);
                        if (event != null) {
                            agentv1errorHandler.accept(event);
                        }
                    }
                    break;
                case "AgentV1Warning":
                    if (agentv1warningHandler != null) {
                        AgentV1Warning event = objectMapper.treeToValue(body, AgentV1Warning.class);
                        if (event != null) {
                            agentv1warningHandler.accept(event);
                        }
                    }
                    break;
                case "AgentV1Audio":
                    if (agentv1audioHandler != null) {
                        String event = objectMapper.treeToValue(body, String.class);
                        if (event != null) {
                            agentv1audioHandler.accept(event);
                        }
                    }
                    break;
                default:
                    // Unknown message type - log or ignore;
                    break;
            }
        } catch (IllegalArgumentException e) {
            if (onErrorHandler != null) {
                onErrorHandler.accept(e);
            }
        } catch (Exception e) {
            if (onErrorHandler != null) {
                onErrorHandler.accept(e);
            }
        }
    }

    /**
     * Reason for WebSocket disconnection.
     */
    public static class DisconnectReason {
        private final int code;

        private final String reason;

        public DisconnectReason(int code, String reason) {
            this.code = code;
            this.reason = reason;
        }

        public int getCode() {
            return code;
        }

        public String getReason() {
            return reason;
        }
    }

    /**
     * WebSocket connection ready state, based on the W3C WebSocket API.
     */
    public enum WebSocketReadyState {
        /**
         * The connection is being established.
         */
        CONNECTING,

        /**
         * The connection is open and ready to communicate.
         */
        OPEN,

        /**
         * The connection is in the process of closing.
         */
        CLOSING,

        /**
         * The connection is closed.
         */
        CLOSED
    }
}
