/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.deepgram.resources.speak.v2.websocket;

import com.deepgram.core.ClientOptions;
import com.deepgram.core.DisconnectReason;
import com.deepgram.core.ObjectMappers;
import com.deepgram.core.ReconnectingWebSocketListener;
import com.deepgram.core.RequestOptions;
import com.deepgram.core.WebSocketReadyState;
import com.deepgram.resources.speak.v2.types.SpeakV2Close;
import com.deepgram.resources.speak.v2.types.SpeakV2Configure;
import com.deepgram.resources.speak.v2.types.SpeakV2ConfigureFailure;
import com.deepgram.resources.speak.v2.types.SpeakV2ConfigureSuccess;
import com.deepgram.resources.speak.v2.types.SpeakV2Connected;
import com.deepgram.resources.speak.v2.types.SpeakV2Error;
import com.deepgram.resources.speak.v2.types.SpeakV2Flush;
import com.deepgram.resources.speak.v2.types.SpeakV2Flushed;
import com.deepgram.resources.speak.v2.types.SpeakV2Interrupt;
import com.deepgram.resources.speak.v2.types.SpeakV2SessionMetadata;
import com.deepgram.resources.speak.v2.types.SpeakV2Speak;
import com.deepgram.resources.speak.v2.types.SpeakV2SpeechInterrupted;
import com.deepgram.resources.speak.v2.types.SpeakV2SpeechMetadata;
import com.deepgram.resources.speak.v2.types.SpeakV2SpeechStarted;
import com.deepgram.resources.speak.v2.types.SpeakV2Warning;
import com.fasterxml.jackson.databind.JsonNode;
import com.fasterxml.jackson.databind.ObjectMapper;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ScheduledExecutorService;
import java.util.function.Consumer;
import okhttp3.HttpUrl;
import okhttp3.OkHttpClient;
import okhttp3.Request;
import okhttp3.Response;
import okhttp3.WebSocket;
import okio.ByteString;

/**
 * WebSocket client for the v2 channel.
 * Provides real-time bidirectional communication with strongly-typed messages.
 */
public class V2WebSocketClient implements AutoCloseable {
    protected final ClientOptions clientOptions;

    private final ObjectMapper objectMapper;

    private final OkHttpClient okHttpClient;

    private ScheduledExecutorService timeoutExecutor;

    private volatile WebSocketReadyState readyState = WebSocketReadyState.CLOSED;

    private volatile Runnable onConnectedHandler;

    private volatile Consumer<DisconnectReason> onDisconnectedHandler;

    private volatile Consumer<Exception> onErrorHandler;

    private volatile Consumer<String> onMessageHandler;

    private volatile ReconnectingWebSocketListener.ReconnectOptions reconnectOptions;

    private CompletableFuture<Void> connectionFuture;

    private ReconnectingWebSocketListener reconnectingListener;

    private volatile Consumer<ByteString> speakV2AudioHandler;

    private volatile Consumer<SpeakV2Connected> connectedHandler;

    private volatile Consumer<SpeakV2SpeechStarted> speechStartedHandler;

    private volatile Consumer<SpeakV2SpeechMetadata> speechMetadataHandler;

    private volatile Consumer<SpeakV2SpeechInterrupted> speechInterruptedHandler;

    private volatile Consumer<SpeakV2Flushed> flushedHandler;

    private volatile Consumer<SpeakV2SessionMetadata> sessionMetadataHandler;

    private volatile Consumer<SpeakV2ConfigureSuccess> configureSuccessHandler;

    private volatile Consumer<SpeakV2ConfigureFailure> configureFailureHandler;

    private volatile Consumer<SpeakV2Warning> warningHandler;

    private volatile Consumer<SpeakV2Error> errorHandler;

    /**
     * Creates a new async WebSocket client for the v2 channel.
     */
    public V2WebSocketClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.objectMapper = ObjectMappers.JSON_MAPPER;
        this.okHttpClient = clientOptions.httpClient();
    }

    /**
     * Establishes the WebSocket connection asynchronously with automatic reconnection.
     * @return a CompletableFuture that completes when the connection is established
     * @param options connection options including query parameters
     */
    public CompletableFuture<Void> connect(V2ConnectOptions options) {
        connectionFuture = new CompletableFuture<>();
        String baseUrl = clientOptions.environment().getProductionURL();
        String fullPath = "/v2/speak";
        if (baseUrl.endsWith("/") && fullPath.startsWith("/")) {
            fullPath = fullPath.substring(1);
        } else if (!baseUrl.endsWith("/") && !fullPath.startsWith("/")) {
            fullPath = "/" + fullPath;
        }
        // OkHttp's HttpUrl only supports http/https schemes; convert wss/ws for URL parsing
        if (baseUrl.startsWith("wss://")) {
            baseUrl = "https://" + baseUrl.substring(6);
        } else if (baseUrl.startsWith("ws://")) {
            baseUrl = "http://" + baseUrl.substring(5);
        }
        HttpUrl parsedUrl = HttpUrl.parse(baseUrl + fullPath);
        if (parsedUrl == null) {
            throw new IllegalArgumentException("Invalid WebSocket URL: " + baseUrl + fullPath);
        }
        HttpUrl.Builder urlBuilder = parsedUrl.newBuilder();
        urlBuilder.addQueryParameter("model", String.valueOf(options.getModel()));
        if (options.getEncoding() != null && options.getEncoding().isPresent()) {
            urlBuilder.addQueryParameter(
                    "encoding", String.valueOf(options.getEncoding().get()));
        }
        if (options.getSampleRate() != null && options.getSampleRate().isPresent()) {
            urlBuilder.addQueryParameter(
                    "sample_rate", String.valueOf(options.getSampleRate().get()));
        }
        if (options.getSpeed() != null && options.getSpeed().isPresent()) {
            urlBuilder.addQueryParameter(
                    "speed", String.valueOf(options.getSpeed().get()));
        }
        if (options.getExpressivity() != null && options.getExpressivity().isPresent()) {
            urlBuilder.addQueryParameter(
                    "expressivity", String.valueOf(options.getExpressivity().get()));
        }
        if (options.getMipOptOut() != null && options.getMipOptOut().isPresent()) {
            urlBuilder.addQueryParameter(
                    "mip_opt_out", String.valueOf(options.getMipOptOut().get()));
        }
        if (options.getTag() != null && options.getTag().isPresent()) {
            urlBuilder.addQueryParameter("tag", String.valueOf(options.getTag().get()));
        }
        Request.Builder requestBuilder = new Request.Builder().url(urlBuilder.build());
        clientOptions.headers((RequestOptions) null).forEach(requestBuilder::addHeader);
        final Request request = requestBuilder.build();
        this.readyState = WebSocketReadyState.CONNECTING;
        ReconnectingWebSocketListener.ReconnectOptions reconnectOpts = this.reconnectOptions != null
                ? this.reconnectOptions
                : ReconnectingWebSocketListener.ReconnectOptions.builder().build();
        this.reconnectingListener =
                new ReconnectingWebSocketListener(reconnectOpts, () -> {
                    if (clientOptions.webSocketFactory().isPresent()) {
                        return clientOptions.webSocketFactory().get().create(request, this.reconnectingListener);
                    } else {
                        return okHttpClient.newWebSocket(request, this.reconnectingListener);
                    }
                }) {
                    @Override
                    protected void onWebSocketOpen(WebSocket webSocket, Response response) {
                        readyState = WebSocketReadyState.OPEN;
                        if (onConnectedHandler != null) {
                            onConnectedHandler.run();
                        }
                        connectionFuture.complete(null);
                    }

                    @Override
                    protected void onWebSocketMessage(WebSocket webSocket, String text) {
                        handleIncomingMessage(text);
                    }

                    @Override
                    protected void onWebSocketBinaryMessage(WebSocket webSocket, ByteString bytes) {
                        if (speakV2AudioHandler != null) {
                            speakV2AudioHandler.accept(bytes);
                        }
                    }

                    @Override
                    protected void onWebSocketFailure(WebSocket webSocket, Throwable t, Response response) {
                        readyState = WebSocketReadyState.CLOSED;
                        if (onErrorHandler != null) {
                            onErrorHandler.accept(new RuntimeException(t));
                        }
                        connectionFuture.completeExceptionally(t);
                    }

                    @Override
                    protected void onWebSocketClosed(WebSocket webSocket, int code, String reason) {
                        readyState = WebSocketReadyState.CLOSED;
                        if (onDisconnectedHandler != null) {
                            onDisconnectedHandler.accept(new DisconnectReason(code, reason));
                        }
                    }
                };
        reconnectingListener.connect();
        return connectionFuture;
    }

    /**
     * Disconnects the WebSocket connection and releases resources.
     */
    public void disconnect() {
        reconnectingListener.disconnect();
        if (timeoutExecutor != null) {
            timeoutExecutor.shutdownNow();
            timeoutExecutor = null;
        }
    }

    /**
     * Gets the current state of the WebSocket connection.
     *
     * This provides the actual connection state, similar to the W3C WebSocket API.
     *
     * @return the current WebSocket ready state
     */
    public WebSocketReadyState getReadyState() {
        return readyState;
    }

    /**
     * Sends a SpeakV2Speak message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendSpeak(SpeakV2Speak message) {
        return sendMessage(message);
    }

    /**
     * Sends a SpeakV2Flush message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendFlush(SpeakV2Flush message) {
        return sendMessage(message);
    }

    /**
     * Sends a SpeakV2Interrupt message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendInterrupt(SpeakV2Interrupt message) {
        return sendMessage(message);
    }

    /**
     * Sends a SpeakV2Configure message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendConfigure(SpeakV2Configure message) {
        return sendMessage(message);
    }

    /**
     * Sends a SpeakV2Close message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendClose(SpeakV2Close message) {
        return sendMessage(message);
    }

    /**
     * Registers a handler for SpeakV2Audio messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onSpeakV2Audio(Consumer<ByteString> handler) {
        this.speakV2AudioHandler = handler;
    }

    /**
     * Registers a handler for SpeakV2Connected messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onConnected(Consumer<SpeakV2Connected> handler) {
        this.connectedHandler = handler;
    }

    /**
     * Registers a handler for SpeakV2SpeechStarted messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onSpeechStarted(Consumer<SpeakV2SpeechStarted> handler) {
        this.speechStartedHandler = handler;
    }

    /**
     * Registers a handler for SpeakV2SpeechMetadata messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onSpeechMetadata(Consumer<SpeakV2SpeechMetadata> handler) {
        this.speechMetadataHandler = handler;
    }

    /**
     * Registers a handler for SpeakV2SpeechInterrupted messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onSpeechInterrupted(Consumer<SpeakV2SpeechInterrupted> handler) {
        this.speechInterruptedHandler = handler;
    }

    /**
     * Registers a handler for SpeakV2Flushed messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onFlushed(Consumer<SpeakV2Flushed> handler) {
        this.flushedHandler = handler;
    }

    /**
     * Registers a handler for SpeakV2SessionMetadata messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onSessionMetadata(Consumer<SpeakV2SessionMetadata> handler) {
        this.sessionMetadataHandler = handler;
    }

    /**
     * Registers a handler for SpeakV2ConfigureSuccess messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onConfigureSuccess(Consumer<SpeakV2ConfigureSuccess> handler) {
        this.configureSuccessHandler = handler;
    }

    /**
     * Registers a handler for SpeakV2ConfigureFailure messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onConfigureFailure(Consumer<SpeakV2ConfigureFailure> handler) {
        this.configureFailureHandler = handler;
    }

    /**
     * Registers a handler for SpeakV2Warning messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onWarning(Consumer<SpeakV2Warning> handler) {
        this.warningHandler = handler;
    }

    /**
     * Registers a handler for SpeakV2Error messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onErrorMessage(Consumer<SpeakV2Error> handler) {
        this.errorHandler = handler;
    }

    /**
     * Registers a handler called when the connection is established.
     * @param handler the handler to invoke when connected
     */
    public void onConnected(Runnable handler) {
        this.onConnectedHandler = handler;
    }

    /**
     * Registers a handler called when the connection is closed.
     * @param handler the handler to invoke when disconnected
     */
    public void onDisconnected(Consumer<DisconnectReason> handler) {
        this.onDisconnectedHandler = handler;
    }

    /**
     * Registers a handler called when an error occurs.
     * @param handler the handler to invoke on error
     */
    public void onError(Consumer<Exception> handler) {
        this.onErrorHandler = handler;
    }

    /**
     * Registers a handler called for every incoming text message.
     * The handler receives the raw JSON string before type-specific dispatch.
     * @param handler the handler to invoke with the raw message JSON
     */
    public void onMessage(Consumer<String> handler) {
        this.onMessageHandler = handler;
    }

    /**
     * Configures reconnection behavior. Must be called before {@link #connect}.
     *
     * @param options the reconnection options (backoff, retries, queue size)
     */
    public void reconnectOptions(ReconnectingWebSocketListener.ReconnectOptions options) {
        this.reconnectOptions = options;
    }

    /**
     * Closes this WebSocket client, releasing all resources.
     * Equivalent to calling {@link #disconnect()}.
     */
    @Override
    public void close() {
        disconnect();
    }

    /**
     * Ensures the WebSocket is connected and ready to send messages.
     * @throws IllegalStateException if the socket is not connected or not open
     */
    private void assertSocketIsOpen() {
        if (reconnectingListener.getWebSocket() == null) {
            throw new IllegalStateException("WebSocket is not connected. Call connect() first.");
        }
        if (readyState != WebSocketReadyState.OPEN) {
            throw new IllegalStateException("WebSocket is not open. Current state: " + readyState);
        }
    }

    private CompletableFuture<Void> sendMessage(Object body) {
        CompletableFuture<Void> future = new CompletableFuture<>();
        try {
            assertSocketIsOpen();
            String json = objectMapper.writeValueAsString(body);
            // Use reconnecting listener's send method which handles queuing
            reconnectingListener.send(json);
            future.complete(null);
        } catch (IllegalStateException e) {
            future.completeExceptionally(e);
        } catch (Exception e) {
            future.completeExceptionally(new RuntimeException("Failed to send message", e));
        }
        return future;
    }

    private void handleIncomingMessage(String json) {
        try {
            if (onMessageHandler != null) {
                onMessageHandler.accept(json);
            }
            JsonNode node = objectMapper.readTree(json);
            if (node == null || node.isNull()) {
                throw new IllegalArgumentException("Received null or invalid JSON message");
            }
            if (node.has("speech_id")
                    && node.has("audio_duration_ms")
                    && node.has("input_character_count")
                    && node.has("billable_character_count")
                    && node.has("controls_applied")
                    && "SpeechMetadata".equals(node.path("type").asText())) {
                SpeakV2SpeechMetadata speechMetadataHandlerEvent = null;
                try {
                    speechMetadataHandlerEvent = objectMapper.treeToValue(node, SpeakV2SpeechMetadata.class);
                } catch (Exception e) {
                }
                if (speechMetadataHandlerEvent != null) {
                    if (speechMetadataHandler != null) {
                        speechMetadataHandler.accept(speechMetadataHandlerEvent);
                    }
                    return;
                }
            }
            if (node.has("request_id")
                    && node.has("model_name")
                    && node.has("model_version")
                    && node.has("model_uuids")
                    && "Connected".equals(node.path("type").asText())) {
                SpeakV2Connected connectedHandlerEvent = null;
                try {
                    connectedHandlerEvent = objectMapper.treeToValue(node, SpeakV2Connected.class);
                } catch (Exception e) {
                }
                if (connectedHandlerEvent != null) {
                    if (connectedHandler != null) {
                        connectedHandler.accept(connectedHandlerEvent);
                    }
                    return;
                }
            }
            if (node.has("total_audio_duration_ms")
                    && node.has("total_input_character_count")
                    && node.has("total_billable_character_count")
                    && "SessionMetadata".equals(node.path("type").asText())) {
                SpeakV2SessionMetadata sessionMetadataHandlerEvent = null;
                try {
                    sessionMetadataHandlerEvent = objectMapper.treeToValue(node, SpeakV2SessionMetadata.class);
                } catch (Exception e) {
                }
                if (sessionMetadataHandlerEvent != null) {
                    if (sessionMetadataHandler != null) {
                        sessionMetadataHandler.accept(sessionMetadataHandlerEvent);
                    }
                    return;
                }
            }
            if (node.has("audio_played_ms")
                    && node.has("metadata")
                    && "SpeechInterrupted".equals(node.path("type").asText())) {
                SpeakV2SpeechInterrupted speechInterruptedHandlerEvent = null;
                try {
                    speechInterruptedHandlerEvent = objectMapper.treeToValue(node, SpeakV2SpeechInterrupted.class);
                } catch (Exception e) {
                }
                if (speechInterruptedHandlerEvent != null) {
                    if (speechInterruptedHandler != null) {
                        speechInterruptedHandler.accept(speechInterruptedHandlerEvent);
                    }
                    return;
                }
            }
            if (node.has("code")
                    && node.has("description")
                    && "ConfigureFailure".equals(node.path("type").asText())) {
                SpeakV2ConfigureFailure configureFailureHandlerEvent = null;
                try {
                    configureFailureHandlerEvent = objectMapper.treeToValue(node, SpeakV2ConfigureFailure.class);
                } catch (Exception e) {
                }
                if (configureFailureHandlerEvent != null) {
                    if (configureFailureHandler != null) {
                        configureFailureHandler.accept(configureFailureHandlerEvent);
                    }
                    return;
                }
            }
            if (node.has("code")
                    && node.has("description")
                    && "Warning".equals(node.path("type").asText())) {
                SpeakV2Warning warningHandlerEvent = null;
                try {
                    warningHandlerEvent = objectMapper.treeToValue(node, SpeakV2Warning.class);
                } catch (Exception e) {
                }
                if (warningHandlerEvent != null) {
                    if (warningHandler != null) {
                        warningHandler.accept(warningHandlerEvent);
                    }
                    return;
                }
            }
            if (node.has("code")
                    && node.has("description")
                    && "Error".equals(node.path("type").asText())) {
                SpeakV2Error errorHandlerEvent = null;
                try {
                    errorHandlerEvent = objectMapper.treeToValue(node, SpeakV2Error.class);
                } catch (Exception e) {
                }
                if (errorHandlerEvent != null) {
                    if (errorHandler != null) {
                        errorHandler.accept(errorHandlerEvent);
                    }
                    return;
                }
            }
            if (node.has("speech_id")
                    && "SpeechStarted".equals(node.path("type").asText())) {
                SpeakV2SpeechStarted speechStartedHandlerEvent = null;
                try {
                    speechStartedHandlerEvent = objectMapper.treeToValue(node, SpeakV2SpeechStarted.class);
                } catch (Exception e) {
                }
                if (speechStartedHandlerEvent != null) {
                    if (speechStartedHandler != null) {
                        speechStartedHandler.accept(speechStartedHandlerEvent);
                    }
                    return;
                }
            }
            if (node.has("speech_id") && "Flushed".equals(node.path("type").asText())) {
                SpeakV2Flushed flushedHandlerEvent = null;
                try {
                    flushedHandlerEvent = objectMapper.treeToValue(node, SpeakV2Flushed.class);
                } catch (Exception e) {
                }
                if (flushedHandlerEvent != null) {
                    if (flushedHandler != null) {
                        flushedHandler.accept(flushedHandlerEvent);
                    }
                    return;
                }
            }
            if (node.has("applied")
                    && "ConfigureSuccess".equals(node.path("type").asText())) {
                SpeakV2ConfigureSuccess configureSuccessHandlerEvent = null;
                try {
                    configureSuccessHandlerEvent = objectMapper.treeToValue(node, SpeakV2ConfigureSuccess.class);
                } catch (Exception e) {
                }
                if (configureSuccessHandlerEvent != null) {
                    if (configureSuccessHandler != null) {
                        configureSuccessHandler.accept(configureSuccessHandlerEvent);
                    }
                    return;
                }
            }
            if (onErrorHandler != null) {
                onErrorHandler.accept(new RuntimeException(
                        "Unrecognized WebSocket message: " + json.substring(0, Math.min(200, json.length()))
                                + "... Update your SDK version to support new message types."));
            }
        } catch (Exception e) {
            if (onErrorHandler != null) {
                onErrorHandler.accept(e);
            }
        }
    }
}
