/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.deepgram.api.resources.speak.v1.websocket;

import com.deepgram.api.core.ClientOptions;
import com.deepgram.api.core.ObjectMappers;
import com.deepgram.api.core.ReconnectingWebSocketListener;
import com.deepgram.api.resources.speak.v1.types.SpeakV1Clear;
import com.deepgram.api.resources.speak.v1.types.SpeakV1Cleared;
import com.deepgram.api.resources.speak.v1.types.SpeakV1Close;
import com.deepgram.api.resources.speak.v1.types.SpeakV1Flush;
import com.deepgram.api.resources.speak.v1.types.SpeakV1Flushed;
import com.deepgram.api.resources.speak.v1.types.SpeakV1Metadata;
import com.deepgram.api.resources.speak.v1.types.SpeakV1Text;
import com.deepgram.api.resources.speak.v1.types.SpeakV1Warning;
import com.fasterxml.jackson.databind.JsonNode;
import com.fasterxml.jackson.databind.ObjectMapper;
import java.util.HashMap;
import java.util.Map;
import java.util.Optional;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ScheduledExecutorService;
import java.util.function.Consumer;
import okhttp3.HttpUrl;
import okhttp3.OkHttpClient;
import okhttp3.Request;
import okhttp3.Response;
import okhttp3.WebSocket;

/**
 * WebSocket client for the v1 channel.
 * Provides real-time bidirectional communication with strongly-typed messages.
 */
public class V1WebSocketClient {
    protected final ClientOptions clientOptions;

    private final ObjectMapper objectMapper;

    private final OkHttpClient okHttpClient;

    private ScheduledExecutorService timeoutExecutor;

    private volatile WebSocketReadyState readyState = WebSocketReadyState.CLOSED;

    private final Optional<String> encoding;

    private final Optional<String> mipOptOut;

    private final Optional<String> model;

    private final Optional<String> sampleRate;

    private Runnable onConnectedHandler;

    private Consumer<DisconnectReason> onDisconnectedHandler;

    private Consumer<Exception> onErrorHandler;

    private CompletableFuture<Void> connectionFuture;

    private ReconnectingWebSocketListener reconnectingListener;

    private Consumer<String> speakv1audioHandler;

    private Consumer<SpeakV1Metadata> speakv1metadataHandler;

    private Consumer<SpeakV1Flushed> speakv1flushedHandler;

    private Consumer<SpeakV1Cleared> speakv1clearedHandler;

    private Consumer<SpeakV1Warning> speakv1warningHandler;

    /**
     * Creates a new async WebSocket client for the v1 channel.
     * @param encoding Optional encoding query parameter
     * @param mipOptOut Optional mipOptOut query parameter
     * @param model Optional model query parameter
     * @param sampleRate Optional sampleRate query parameter
     */
    public V1WebSocketClient(
            ClientOptions clientOptions,
            Optional<String> encoding,
            Optional<String> mipOptOut,
            Optional<String> model,
            Optional<String> sampleRate) {
        this.clientOptions = clientOptions;
        this.objectMapper = ObjectMappers.JSON_MAPPER;
        this.okHttpClient = clientOptions.httpClient();
        this.encoding = encoding;
        this.mipOptOut = mipOptOut;
        this.model = model;
        this.sampleRate = sampleRate;
    }

    /**
     * Establishes the WebSocket connection asynchronously with automatic reconnection.
     * @return a CompletableFuture that completes when the connection is established
     */
    public CompletableFuture<Void> connect() {
        connectionFuture = new CompletableFuture<>();
        String baseUrl = clientOptions.environment().getUrl();
        StringBuilder pathBuilder = new StringBuilder();
        pathBuilder.append("/v1/speak");
        String fullPath = pathBuilder.toString();
        if (baseUrl.endsWith("/") && fullPath.startsWith("/")) {
            fullPath = fullPath.substring(1);
        } else if (!baseUrl.endsWith("/") && !fullPath.startsWith("/")) {
            fullPath = "/" + fullPath;
        }
        HttpUrl.Builder urlBuilder = HttpUrl.parse(baseUrl + fullPath).newBuilder();
        if (encoding != null && encoding.isPresent()) {
            urlBuilder.addQueryParameter("encoding", String.valueOf(encoding.get()));
        }
        if (mipOptOut != null && mipOptOut.isPresent()) {
            urlBuilder.addQueryParameter("mip_opt_out", String.valueOf(mipOptOut.get()));
        }
        if (model != null && model.isPresent()) {
            urlBuilder.addQueryParameter("model", String.valueOf(model.get()));
        }
        if (sampleRate != null && sampleRate.isPresent()) {
            urlBuilder.addQueryParameter("sample_rate", String.valueOf(sampleRate.get()));
        }
        Request.Builder requestBuilder = new Request.Builder().url(urlBuilder.build());
        // Header Authorization requires literal value support
        final Request request = requestBuilder.build();
        this.readyState = WebSocketReadyState.CONNECTING;
        ReconnectingWebSocketListener.ReconnectOptions reconnectOptions =
                ReconnectingWebSocketListener.ReconnectOptions.builder().build();
        this.reconnectingListener =
                new ReconnectingWebSocketListener(reconnectOptions, () -> {
                    if (clientOptions.webSocketFactory().isPresent()) {
                        return clientOptions.webSocketFactory().get().create(request, this.reconnectingListener);
                    } else {
                        return okHttpClient.newWebSocket(request, this.reconnectingListener);
                    }
                }) {
                    @Override
                    protected void onWebSocketOpen(WebSocket webSocket, Response response) {
                        readyState = WebSocketReadyState.OPEN;
                        if (onConnectedHandler != null) {
                            onConnectedHandler.run();
                        }
                        connectionFuture.complete(null);
                    }

                    @Override
                    protected void onWebSocketMessage(WebSocket webSocket, String text) {
                        handleIncomingMessage(text);
                    }

                    @Override
                    protected void onWebSocketFailure(WebSocket webSocket, Throwable t, Response response) {
                        readyState = WebSocketReadyState.CLOSED;
                        if (onErrorHandler != null) {
                            onErrorHandler.accept(new RuntimeException(t));
                        }
                        connectionFuture.completeExceptionally(t);
                    }

                    @Override
                    protected void onWebSocketClosed(WebSocket webSocket, int code, String reason) {
                        readyState = WebSocketReadyState.CLOSED;
                        if (onDisconnectedHandler != null) {
                            onDisconnectedHandler.accept(new DisconnectReason(code, reason));
                        }
                    }
                };
        reconnectingListener.connect();
        return connectionFuture;
    }

    /**
     * Disconnects the WebSocket connection and releases resources.
     */
    public void disconnect() {
        reconnectingListener.disconnect();
        if (timeoutExecutor != null) {
            timeoutExecutor.shutdownNow();
            timeoutExecutor = null;
        }
    }

    /**
     * Checks if a WebSocket instance exists (not necessarily connected).
     *
     * This method only verifies that a WebSocket object has been created, not whether
     * it's actively connected. For actual connection state, use getReadyState().
     *
     * @return true if a WebSocket instance exists, false otherwise
     * @deprecated Use getReadyState() for accurate connection status
     */
    @Deprecated
    public boolean hasWebSocketInstance() {
        // Check if WebSocket connection is open based on ready state
        return readyState == WebSocketReadyState.OPEN || readyState == WebSocketReadyState.CONNECTING;
    }

    /**
     * Gets the current state of the WebSocket connection.
     *
     * This provides the actual connection state, similar to the W3C WebSocket API.
     *
     * @return the current WebSocket ready state
     */
    public WebSocketReadyState getReadyState() {
        return readyState;
    }

    /**
     * Sends a SpeakV1Text message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendSpeakV1Text(SpeakV1Text message) {
        return sendMessage("SpeakV1Text", message);
    }

    /**
     * Sends a SpeakV1Flush message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendSpeakV1Flush(SpeakV1Flush message) {
        return sendMessage("SpeakV1Flush", message);
    }

    /**
     * Sends a SpeakV1Clear message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendSpeakV1Clear(SpeakV1Clear message) {
        return sendMessage("SpeakV1Clear", message);
    }

    /**
     * Sends a SpeakV1Close message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendSpeakV1Close(SpeakV1Close message) {
        return sendMessage("SpeakV1Close", message);
    }

    /**
     * Registers a handler for SpeakV1Audio messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onSpeakV1Audio(Consumer<String> handler) {
        this.speakv1audioHandler = handler;
    }

    /**
     * Registers a handler for SpeakV1Metadata messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onSpeakV1Metadata(Consumer<SpeakV1Metadata> handler) {
        this.speakv1metadataHandler = handler;
    }

    /**
     * Registers a handler for SpeakV1Flushed messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onSpeakV1Flushed(Consumer<SpeakV1Flushed> handler) {
        this.speakv1flushedHandler = handler;
    }

    /**
     * Registers a handler for SpeakV1Cleared messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onSpeakV1Cleared(Consumer<SpeakV1Cleared> handler) {
        this.speakv1clearedHandler = handler;
    }

    /**
     * Registers a handler for SpeakV1Warning messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onSpeakV1Warning(Consumer<SpeakV1Warning> handler) {
        this.speakv1warningHandler = handler;
    }

    /**
     * Registers a handler called when the connection is established.
     * @param handler the handler to invoke when connected
     */
    public void onConnected(Runnable handler) {
        this.onConnectedHandler = handler;
    }

    /**
     * Registers a handler called when the connection is closed.
     * @param handler the handler to invoke when disconnected
     */
    public void onDisconnected(Consumer<DisconnectReason> handler) {
        this.onDisconnectedHandler = handler;
    }

    /**
     * Registers a handler called when an error occurs.
     * @param handler the handler to invoke on error
     */
    public void onError(Consumer<Exception> handler) {
        this.onErrorHandler = handler;
    }

    /**
     * Ensures the WebSocket is connected and ready to send messages.
     * @throws IllegalStateException if the socket is not connected or not open
     */
    private void assertSocketIsOpen() {
        if (reconnectingListener.getWebSocket() == null) {
            throw new IllegalStateException("WebSocket is not connected. Call connect() first.");
        }
        if (readyState != WebSocketReadyState.OPEN) {
            throw new IllegalStateException("WebSocket is not open. Current state: " + readyState);
        }
    }

    private CompletableFuture<Void> sendMessage(String type, Object body) {
        CompletableFuture<Void> future = new CompletableFuture<>();
        try {
            assertSocketIsOpen();
            Map<String, Object> envelope = new HashMap<>();
            envelope.put("type", type);
            envelope.put("body", body);
            String json = objectMapper.writeValueAsString(envelope);
            // Use reconnecting listener's send method which handles queuing
            boolean sent = reconnectingListener.send(json);
            if (sent) {
                future.complete(null);
            } else {
                // Message was queued for later delivery when reconnected
                future.complete(null);
            }
        } catch (IllegalStateException e) {
            future.completeExceptionally(e);
        } catch (Exception e) {
            future.completeExceptionally(new RuntimeException("Failed to send message", e));
        }
        return future;
    }

    private void handleIncomingMessage(String json) {
        try {
            JsonNode envelope = objectMapper.readTree(json);
            if (envelope == null || envelope.isNull()) {
                throw new IllegalArgumentException("Received null or invalid JSON envelope");
            }
            JsonNode typeNode = envelope.get("type");
            if (typeNode == null || typeNode.isNull()) {
                throw new IllegalArgumentException("Message envelope missing 'type' field");
            }
            String type = typeNode.asText();
            JsonNode body = envelope.get("body");
            if (body == null) {
                throw new IllegalArgumentException("Message envelope missing 'body' field");
            }
            switch (type) {
                case "SpeakV1Audio":
                    if (speakv1audioHandler != null) {
                        String event = objectMapper.treeToValue(body, String.class);
                        if (event != null) {
                            speakv1audioHandler.accept(event);
                        }
                    }
                    break;
                case "SpeakV1Metadata":
                    if (speakv1metadataHandler != null) {
                        SpeakV1Metadata event = objectMapper.treeToValue(body, SpeakV1Metadata.class);
                        if (event != null) {
                            speakv1metadataHandler.accept(event);
                        }
                    }
                    break;
                case "SpeakV1Flushed":
                    if (speakv1flushedHandler != null) {
                        SpeakV1Flushed event = objectMapper.treeToValue(body, SpeakV1Flushed.class);
                        if (event != null) {
                            speakv1flushedHandler.accept(event);
                        }
                    }
                    break;
                case "SpeakV1Cleared":
                    if (speakv1clearedHandler != null) {
                        SpeakV1Cleared event = objectMapper.treeToValue(body, SpeakV1Cleared.class);
                        if (event != null) {
                            speakv1clearedHandler.accept(event);
                        }
                    }
                    break;
                case "SpeakV1Warning":
                    if (speakv1warningHandler != null) {
                        SpeakV1Warning event = objectMapper.treeToValue(body, SpeakV1Warning.class);
                        if (event != null) {
                            speakv1warningHandler.accept(event);
                        }
                    }
                    break;
                default:
                    // Unknown message type - log or ignore;
                    break;
            }
        } catch (IllegalArgumentException e) {
            if (onErrorHandler != null) {
                onErrorHandler.accept(e);
            }
        } catch (Exception e) {
            if (onErrorHandler != null) {
                onErrorHandler.accept(e);
            }
        }
    }

    /**
     * Reason for WebSocket disconnection.
     */
    public static class DisconnectReason {
        private final int code;

        private final String reason;

        public DisconnectReason(int code, String reason) {
            this.code = code;
            this.reason = reason;
        }

        public int getCode() {
            return code;
        }

        public String getReason() {
            return reason;
        }
    }

    /**
     * WebSocket connection ready state, based on the W3C WebSocket API.
     */
    public enum WebSocketReadyState {
        /**
         * The connection is being established.
         */
        CONNECTING,

        /**
         * The connection is open and ready to communicate.
         */
        OPEN,

        /**
         * The connection is in the process of closing.
         */
        CLOSING,

        /**
         * The connection is closed.
         */
        CLOSED
    }
}
