/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.deepgram.api.resources.listen.v2.websocket;

import com.deepgram.api.core.ClientOptions;
import com.deepgram.api.core.ObjectMappers;
import com.deepgram.api.core.ReconnectingWebSocketListener;
import com.deepgram.api.resources.listen.v2.types.ListenV2CloseStream;
import com.deepgram.api.resources.listen.v2.types.ListenV2Connected;
import com.deepgram.api.resources.listen.v2.types.ListenV2FatalError;
import com.deepgram.api.resources.listen.v2.types.ListenV2TurnInfo;
import com.fasterxml.jackson.databind.JsonNode;
import com.fasterxml.jackson.databind.ObjectMapper;
import java.util.HashMap;
import java.util.Map;
import java.util.Optional;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ScheduledExecutorService;
import java.util.function.Consumer;
import okhttp3.HttpUrl;
import okhttp3.OkHttpClient;
import okhttp3.Request;
import okhttp3.Response;
import okhttp3.WebSocket;

/**
 * WebSocket client for the v2 channel.
 * Provides real-time bidirectional communication with strongly-typed messages.
 */
public class V2WebSocketClient {
    protected final ClientOptions clientOptions;

    private final ObjectMapper objectMapper;

    private final OkHttpClient okHttpClient;

    private ScheduledExecutorService timeoutExecutor;

    private volatile WebSocketReadyState readyState = WebSocketReadyState.CLOSED;

    private final Optional<String> model;

    private final Optional<String> encoding;

    private final Optional<String> sampleRate;

    private final Optional<String> eagerEotThreshold;

    private final Optional<String> eotThreshold;

    private final Optional<String> eotTimeoutMs;

    private final Optional<String> keyterm;

    private final Optional<String> mipOptOut;

    private final Optional<String> tag;

    private Runnable onConnectedHandler;

    private Consumer<DisconnectReason> onDisconnectedHandler;

    private Consumer<Exception> onErrorHandler;

    private CompletableFuture<Void> connectionFuture;

    private ReconnectingWebSocketListener reconnectingListener;

    private Consumer<ListenV2Connected> listenv2connectedHandler;

    private Consumer<ListenV2TurnInfo> listenv2turninfoHandler;

    private Consumer<ListenV2FatalError> listenv2fatalerrorHandler;

    /**
     * Creates a new async WebSocket client for the v2 channel.
     * @param model Optional model query parameter
     * @param encoding Optional encoding query parameter
     * @param sampleRate Optional sampleRate query parameter
     * @param eagerEotThreshold Optional eagerEotThreshold query parameter
     * @param eotThreshold Optional eotThreshold query parameter
     * @param eotTimeoutMs Optional eotTimeoutMs query parameter
     * @param keyterm Optional keyterm query parameter
     * @param mipOptOut Optional mipOptOut query parameter
     * @param tag Optional tag query parameter
     */
    public V2WebSocketClient(
            ClientOptions clientOptions,
            Optional<String> model,
            Optional<String> encoding,
            Optional<String> sampleRate,
            Optional<String> eagerEotThreshold,
            Optional<String> eotThreshold,
            Optional<String> eotTimeoutMs,
            Optional<String> keyterm,
            Optional<String> mipOptOut,
            Optional<String> tag) {
        this.clientOptions = clientOptions;
        this.objectMapper = ObjectMappers.JSON_MAPPER;
        this.okHttpClient = clientOptions.httpClient();
        this.model = model;
        this.encoding = encoding;
        this.sampleRate = sampleRate;
        this.eagerEotThreshold = eagerEotThreshold;
        this.eotThreshold = eotThreshold;
        this.eotTimeoutMs = eotTimeoutMs;
        this.keyterm = keyterm;
        this.mipOptOut = mipOptOut;
        this.tag = tag;
    }

    /**
     * Establishes the WebSocket connection asynchronously with automatic reconnection.
     * @return a CompletableFuture that completes when the connection is established
     */
    public CompletableFuture<Void> connect() {
        connectionFuture = new CompletableFuture<>();
        String baseUrl = clientOptions.environment().getUrl();
        StringBuilder pathBuilder = new StringBuilder();
        pathBuilder.append("/v2/listen");
        String fullPath = pathBuilder.toString();
        if (baseUrl.endsWith("/") && fullPath.startsWith("/")) {
            fullPath = fullPath.substring(1);
        } else if (!baseUrl.endsWith("/") && !fullPath.startsWith("/")) {
            fullPath = "/" + fullPath;
        }
        HttpUrl.Builder urlBuilder = HttpUrl.parse(baseUrl + fullPath).newBuilder();
        if (model != null && model.isPresent()) {
            urlBuilder.addQueryParameter("model", String.valueOf(model.get()));
        }
        if (encoding != null && encoding.isPresent()) {
            urlBuilder.addQueryParameter("encoding", String.valueOf(encoding.get()));
        }
        if (sampleRate != null && sampleRate.isPresent()) {
            urlBuilder.addQueryParameter("sample_rate", String.valueOf(sampleRate.get()));
        }
        if (eagerEotThreshold != null && eagerEotThreshold.isPresent()) {
            urlBuilder.addQueryParameter("eager_eot_threshold", String.valueOf(eagerEotThreshold.get()));
        }
        if (eotThreshold != null && eotThreshold.isPresent()) {
            urlBuilder.addQueryParameter("eot_threshold", String.valueOf(eotThreshold.get()));
        }
        if (eotTimeoutMs != null && eotTimeoutMs.isPresent()) {
            urlBuilder.addQueryParameter("eot_timeout_ms", String.valueOf(eotTimeoutMs.get()));
        }
        if (keyterm != null && keyterm.isPresent()) {
            urlBuilder.addQueryParameter("keyterm", String.valueOf(keyterm.get()));
        }
        if (mipOptOut != null && mipOptOut.isPresent()) {
            urlBuilder.addQueryParameter("mip_opt_out", String.valueOf(mipOptOut.get()));
        }
        if (tag != null && tag.isPresent()) {
            urlBuilder.addQueryParameter("tag", String.valueOf(tag.get()));
        }
        Request.Builder requestBuilder = new Request.Builder().url(urlBuilder.build());
        // Header Authorization requires literal value support
        final Request request = requestBuilder.build();
        this.readyState = WebSocketReadyState.CONNECTING;
        ReconnectingWebSocketListener.ReconnectOptions reconnectOptions =
                ReconnectingWebSocketListener.ReconnectOptions.builder().build();
        this.reconnectingListener =
                new ReconnectingWebSocketListener(reconnectOptions, () -> {
                    if (clientOptions.webSocketFactory().isPresent()) {
                        return clientOptions.webSocketFactory().get().create(request, this.reconnectingListener);
                    } else {
                        return okHttpClient.newWebSocket(request, this.reconnectingListener);
                    }
                }) {
                    @Override
                    protected void onWebSocketOpen(WebSocket webSocket, Response response) {
                        readyState = WebSocketReadyState.OPEN;
                        if (onConnectedHandler != null) {
                            onConnectedHandler.run();
                        }
                        connectionFuture.complete(null);
                    }

                    @Override
                    protected void onWebSocketMessage(WebSocket webSocket, String text) {
                        handleIncomingMessage(text);
                    }

                    @Override
                    protected void onWebSocketFailure(WebSocket webSocket, Throwable t, Response response) {
                        readyState = WebSocketReadyState.CLOSED;
                        if (onErrorHandler != null) {
                            onErrorHandler.accept(new RuntimeException(t));
                        }
                        connectionFuture.completeExceptionally(t);
                    }

                    @Override
                    protected void onWebSocketClosed(WebSocket webSocket, int code, String reason) {
                        readyState = WebSocketReadyState.CLOSED;
                        if (onDisconnectedHandler != null) {
                            onDisconnectedHandler.accept(new DisconnectReason(code, reason));
                        }
                    }
                };
        reconnectingListener.connect();
        return connectionFuture;
    }

    /**
     * Disconnects the WebSocket connection and releases resources.
     */
    public void disconnect() {
        reconnectingListener.disconnect();
        if (timeoutExecutor != null) {
            timeoutExecutor.shutdownNow();
            timeoutExecutor = null;
        }
    }

    /**
     * Checks if a WebSocket instance exists (not necessarily connected).
     *
     * This method only verifies that a WebSocket object has been created, not whether
     * it's actively connected. For actual connection state, use getReadyState().
     *
     * @return true if a WebSocket instance exists, false otherwise
     * @deprecated Use getReadyState() for accurate connection status
     */
    @Deprecated
    public boolean hasWebSocketInstance() {
        // Check if WebSocket connection is open based on ready state
        return readyState == WebSocketReadyState.OPEN || readyState == WebSocketReadyState.CONNECTING;
    }

    /**
     * Gets the current state of the WebSocket connection.
     *
     * This provides the actual connection state, similar to the W3C WebSocket API.
     *
     * @return the current WebSocket ready state
     */
    public WebSocketReadyState getReadyState() {
        return readyState;
    }

    /**
     * Sends a ListenV2Media message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendListenV2Media(String message) {
        return sendMessage("ListenV2Media", message);
    }

    /**
     * Sends a ListenV2CloseStream message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendListenV2CloseStream(ListenV2CloseStream message) {
        return sendMessage("ListenV2CloseStream", message);
    }

    /**
     * Registers a handler for ListenV2Connected messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onListenV2Connected(Consumer<ListenV2Connected> handler) {
        this.listenv2connectedHandler = handler;
    }

    /**
     * Registers a handler for ListenV2TurnInfo messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onListenV2TurnInfo(Consumer<ListenV2TurnInfo> handler) {
        this.listenv2turninfoHandler = handler;
    }

    /**
     * Registers a handler for ListenV2FatalError messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onListenV2FatalError(Consumer<ListenV2FatalError> handler) {
        this.listenv2fatalerrorHandler = handler;
    }

    /**
     * Registers a handler called when the connection is established.
     * @param handler the handler to invoke when connected
     */
    public void onConnected(Runnable handler) {
        this.onConnectedHandler = handler;
    }

    /**
     * Registers a handler called when the connection is closed.
     * @param handler the handler to invoke when disconnected
     */
    public void onDisconnected(Consumer<DisconnectReason> handler) {
        this.onDisconnectedHandler = handler;
    }

    /**
     * Registers a handler called when an error occurs.
     * @param handler the handler to invoke on error
     */
    public void onError(Consumer<Exception> handler) {
        this.onErrorHandler = handler;
    }

    /**
     * Ensures the WebSocket is connected and ready to send messages.
     * @throws IllegalStateException if the socket is not connected or not open
     */
    private void assertSocketIsOpen() {
        if (reconnectingListener.getWebSocket() == null) {
            throw new IllegalStateException("WebSocket is not connected. Call connect() first.");
        }
        if (readyState != WebSocketReadyState.OPEN) {
            throw new IllegalStateException("WebSocket is not open. Current state: " + readyState);
        }
    }

    private CompletableFuture<Void> sendMessage(String type, Object body) {
        CompletableFuture<Void> future = new CompletableFuture<>();
        try {
            assertSocketIsOpen();
            Map<String, Object> envelope = new HashMap<>();
            envelope.put("type", type);
            envelope.put("body", body);
            String json = objectMapper.writeValueAsString(envelope);
            // Use reconnecting listener's send method which handles queuing
            boolean sent = reconnectingListener.send(json);
            if (sent) {
                future.complete(null);
            } else {
                // Message was queued for later delivery when reconnected
                future.complete(null);
            }
        } catch (IllegalStateException e) {
            future.completeExceptionally(e);
        } catch (Exception e) {
            future.completeExceptionally(new RuntimeException("Failed to send message", e));
        }
        return future;
    }

    private void handleIncomingMessage(String json) {
        try {
            JsonNode envelope = objectMapper.readTree(json);
            if (envelope == null || envelope.isNull()) {
                throw new IllegalArgumentException("Received null or invalid JSON envelope");
            }
            JsonNode typeNode = envelope.get("type");
            if (typeNode == null || typeNode.isNull()) {
                throw new IllegalArgumentException("Message envelope missing 'type' field");
            }
            String type = typeNode.asText();
            JsonNode body = envelope.get("body");
            if (body == null) {
                throw new IllegalArgumentException("Message envelope missing 'body' field");
            }
            switch (type) {
                case "ListenV2Connected":
                    if (listenv2connectedHandler != null) {
                        ListenV2Connected event = objectMapper.treeToValue(body, ListenV2Connected.class);
                        if (event != null) {
                            listenv2connectedHandler.accept(event);
                        }
                    }
                    break;
                case "ListenV2TurnInfo":
                    if (listenv2turninfoHandler != null) {
                        ListenV2TurnInfo event = objectMapper.treeToValue(body, ListenV2TurnInfo.class);
                        if (event != null) {
                            listenv2turninfoHandler.accept(event);
                        }
                    }
                    break;
                case "ListenV2FatalError":
                    if (listenv2fatalerrorHandler != null) {
                        ListenV2FatalError event = objectMapper.treeToValue(body, ListenV2FatalError.class);
                        if (event != null) {
                            listenv2fatalerrorHandler.accept(event);
                        }
                    }
                    break;
                default:
                    // Unknown message type - log or ignore;
                    break;
            }
        } catch (IllegalArgumentException e) {
            if (onErrorHandler != null) {
                onErrorHandler.accept(e);
            }
        } catch (Exception e) {
            if (onErrorHandler != null) {
                onErrorHandler.accept(e);
            }
        }
    }

    /**
     * Reason for WebSocket disconnection.
     */
    public static class DisconnectReason {
        private final int code;

        private final String reason;

        public DisconnectReason(int code, String reason) {
            this.code = code;
            this.reason = reason;
        }

        public int getCode() {
            return code;
        }

        public String getReason() {
            return reason;
        }
    }

    /**
     * WebSocket connection ready state, based on the W3C WebSocket API.
     */
    public enum WebSocketReadyState {
        /**
         * The connection is being established.
         */
        CONNECTING,

        /**
         * The connection is open and ready to communicate.
         */
        OPEN,

        /**
         * The connection is in the process of closing.
         */
        CLOSING,

        /**
         * The connection is closed.
         */
        CLOSED
    }
}
