/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.deepgram.api.resources.listen.v1.websocket;

import com.deepgram.api.core.ClientOptions;
import com.deepgram.api.core.ObjectMappers;
import com.deepgram.api.core.ReconnectingWebSocketListener;
import com.deepgram.api.resources.listen.v1.types.ListenV1CloseStream;
import com.deepgram.api.resources.listen.v1.types.ListenV1Finalize;
import com.deepgram.api.resources.listen.v1.types.ListenV1KeepAlive;
import com.deepgram.api.resources.listen.v1.types.ListenV1Metadata;
import com.deepgram.api.resources.listen.v1.types.ListenV1Results;
import com.deepgram.api.resources.listen.v1.types.ListenV1SpeechStarted;
import com.deepgram.api.resources.listen.v1.types.ListenV1UtteranceEnd;
import com.fasterxml.jackson.databind.JsonNode;
import com.fasterxml.jackson.databind.ObjectMapper;
import java.util.HashMap;
import java.util.Map;
import java.util.Optional;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ScheduledExecutorService;
import java.util.function.Consumer;
import okhttp3.HttpUrl;
import okhttp3.OkHttpClient;
import okhttp3.Request;
import okhttp3.Response;
import okhttp3.WebSocket;

/**
 * WebSocket client for the v1 channel.
 * Provides real-time bidirectional communication with strongly-typed messages.
 */
public class V1WebSocketClient {
    protected final ClientOptions clientOptions;

    private final ObjectMapper objectMapper;

    private final OkHttpClient okHttpClient;

    private ScheduledExecutorService timeoutExecutor;

    private volatile WebSocketReadyState readyState = WebSocketReadyState.CLOSED;

    private final Optional<String> callback;

    private final Optional<String> callbackMethod;

    private final Optional<String> channels;

    private final Optional<String> diarize;

    private final Optional<String> dictation;

    private final Optional<String> encoding;

    private final Optional<String> endpointing;

    private final Optional<String> extra;

    private final Optional<String> interimResults;

    private final Optional<String> keyterm;

    private final Optional<String> keywords;

    private final Optional<String> language;

    private final Optional<String> mipOptOut;

    private final Optional<String> model;

    private final Optional<String> multichannel;

    private final Optional<String> numerals;

    private final Optional<String> profanityFilter;

    private final Optional<String> punctuate;

    private final Optional<String> redact;

    private final Optional<String> replace;

    private final Optional<String> sampleRate;

    private final Optional<String> search;

    private final Optional<String> smartFormat;

    private final Optional<String> tag;

    private final Optional<String> utteranceEndMs;

    private final Optional<String> vadEvents;

    private final Optional<String> version;

    private Runnable onConnectedHandler;

    private Consumer<DisconnectReason> onDisconnectedHandler;

    private Consumer<Exception> onErrorHandler;

    private CompletableFuture<Void> connectionFuture;

    private ReconnectingWebSocketListener reconnectingListener;

    private Consumer<ListenV1Results> listenv1resultsHandler;

    private Consumer<ListenV1Metadata> listenv1metadataHandler;

    private Consumer<ListenV1UtteranceEnd> listenv1utteranceendHandler;

    private Consumer<ListenV1SpeechStarted> listenv1speechstartedHandler;

    /**
     * Creates a new async WebSocket client for the v1 channel.
     * @param callback Optional callback query parameter
     * @param callbackMethod Optional callbackMethod query parameter
     * @param channels Optional channels query parameter
     * @param diarize Optional diarize query parameter
     * @param dictation Optional dictation query parameter
     * @param encoding Optional encoding query parameter
     * @param endpointing Optional endpointing query parameter
     * @param extra Optional extra query parameter
     * @param interimResults Optional interimResults query parameter
     * @param keyterm Optional keyterm query parameter
     * @param keywords Optional keywords query parameter
     * @param language Optional language query parameter
     * @param mipOptOut Optional mipOptOut query parameter
     * @param model AI model to use for the transcription
     * @param multichannel Optional multichannel query parameter
     * @param numerals Optional numerals query parameter
     * @param profanityFilter Optional profanityFilter query parameter
     * @param punctuate Optional punctuate query parameter
     * @param redact Optional redact query parameter
     * @param replace Optional replace query parameter
     * @param sampleRate Optional sampleRate query parameter
     * @param search Optional search query parameter
     * @param smartFormat Optional smartFormat query parameter
     * @param tag Optional tag query parameter
     * @param utteranceEndMs Optional utteranceEndMs query parameter
     * @param vadEvents Optional vadEvents query parameter
     * @param version Optional version query parameter
     */
    public V1WebSocketClient(
            ClientOptions clientOptions,
            Optional<String> callback,
            Optional<String> callbackMethod,
            Optional<String> channels,
            Optional<String> diarize,
            Optional<String> dictation,
            Optional<String> encoding,
            Optional<String> endpointing,
            Optional<String> extra,
            Optional<String> interimResults,
            Optional<String> keyterm,
            Optional<String> keywords,
            Optional<String> language,
            Optional<String> mipOptOut,
            Optional<String> model,
            Optional<String> multichannel,
            Optional<String> numerals,
            Optional<String> profanityFilter,
            Optional<String> punctuate,
            Optional<String> redact,
            Optional<String> replace,
            Optional<String> sampleRate,
            Optional<String> search,
            Optional<String> smartFormat,
            Optional<String> tag,
            Optional<String> utteranceEndMs,
            Optional<String> vadEvents,
            Optional<String> version) {
        this.clientOptions = clientOptions;
        this.objectMapper = ObjectMappers.JSON_MAPPER;
        this.okHttpClient = clientOptions.httpClient();
        this.callback = callback;
        this.callbackMethod = callbackMethod;
        this.channels = channels;
        this.diarize = diarize;
        this.dictation = dictation;
        this.encoding = encoding;
        this.endpointing = endpointing;
        this.extra = extra;
        this.interimResults = interimResults;
        this.keyterm = keyterm;
        this.keywords = keywords;
        this.language = language;
        this.mipOptOut = mipOptOut;
        this.model = model;
        this.multichannel = multichannel;
        this.numerals = numerals;
        this.profanityFilter = profanityFilter;
        this.punctuate = punctuate;
        this.redact = redact;
        this.replace = replace;
        this.sampleRate = sampleRate;
        this.search = search;
        this.smartFormat = smartFormat;
        this.tag = tag;
        this.utteranceEndMs = utteranceEndMs;
        this.vadEvents = vadEvents;
        this.version = version;
    }

    /**
     * Establishes the WebSocket connection asynchronously with automatic reconnection.
     * @return a CompletableFuture that completes when the connection is established
     */
    public CompletableFuture<Void> connect() {
        connectionFuture = new CompletableFuture<>();
        String baseUrl = clientOptions.environment().getUrl();
        StringBuilder pathBuilder = new StringBuilder();
        pathBuilder.append("/v1/listen");
        String fullPath = pathBuilder.toString();
        if (baseUrl.endsWith("/") && fullPath.startsWith("/")) {
            fullPath = fullPath.substring(1);
        } else if (!baseUrl.endsWith("/") && !fullPath.startsWith("/")) {
            fullPath = "/" + fullPath;
        }
        HttpUrl.Builder urlBuilder = HttpUrl.parse(baseUrl + fullPath).newBuilder();
        if (callback != null && callback.isPresent()) {
            urlBuilder.addQueryParameter("callback", String.valueOf(callback.get()));
        }
        if (callbackMethod != null && callbackMethod.isPresent()) {
            urlBuilder.addQueryParameter("callback_method", String.valueOf(callbackMethod.get()));
        }
        if (channels != null && channels.isPresent()) {
            urlBuilder.addQueryParameter("channels", String.valueOf(channels.get()));
        }
        if (diarize != null && diarize.isPresent()) {
            urlBuilder.addQueryParameter("diarize", String.valueOf(diarize.get()));
        }
        if (dictation != null && dictation.isPresent()) {
            urlBuilder.addQueryParameter("dictation", String.valueOf(dictation.get()));
        }
        if (encoding != null && encoding.isPresent()) {
            urlBuilder.addQueryParameter("encoding", String.valueOf(encoding.get()));
        }
        if (endpointing != null && endpointing.isPresent()) {
            urlBuilder.addQueryParameter("endpointing", String.valueOf(endpointing.get()));
        }
        if (extra != null && extra.isPresent()) {
            urlBuilder.addQueryParameter("extra", String.valueOf(extra.get()));
        }
        if (interimResults != null && interimResults.isPresent()) {
            urlBuilder.addQueryParameter("interim_results", String.valueOf(interimResults.get()));
        }
        if (keyterm != null && keyterm.isPresent()) {
            urlBuilder.addQueryParameter("keyterm", String.valueOf(keyterm.get()));
        }
        if (keywords != null && keywords.isPresent()) {
            urlBuilder.addQueryParameter("keywords", String.valueOf(keywords.get()));
        }
        if (language != null && language.isPresent()) {
            urlBuilder.addQueryParameter("language", String.valueOf(language.get()));
        }
        if (mipOptOut != null && mipOptOut.isPresent()) {
            urlBuilder.addQueryParameter("mip_opt_out", String.valueOf(mipOptOut.get()));
        }
        if (model != null && model.isPresent()) {
            urlBuilder.addQueryParameter("model", String.valueOf(model.get()));
        }
        if (multichannel != null && multichannel.isPresent()) {
            urlBuilder.addQueryParameter("multichannel", String.valueOf(multichannel.get()));
        }
        if (numerals != null && numerals.isPresent()) {
            urlBuilder.addQueryParameter("numerals", String.valueOf(numerals.get()));
        }
        if (profanityFilter != null && profanityFilter.isPresent()) {
            urlBuilder.addQueryParameter("profanity_filter", String.valueOf(profanityFilter.get()));
        }
        if (punctuate != null && punctuate.isPresent()) {
            urlBuilder.addQueryParameter("punctuate", String.valueOf(punctuate.get()));
        }
        if (redact != null && redact.isPresent()) {
            urlBuilder.addQueryParameter("redact", String.valueOf(redact.get()));
        }
        if (replace != null && replace.isPresent()) {
            urlBuilder.addQueryParameter("replace", String.valueOf(replace.get()));
        }
        if (sampleRate != null && sampleRate.isPresent()) {
            urlBuilder.addQueryParameter("sample_rate", String.valueOf(sampleRate.get()));
        }
        if (search != null && search.isPresent()) {
            urlBuilder.addQueryParameter("search", String.valueOf(search.get()));
        }
        if (smartFormat != null && smartFormat.isPresent()) {
            urlBuilder.addQueryParameter("smart_format", String.valueOf(smartFormat.get()));
        }
        if (tag != null && tag.isPresent()) {
            urlBuilder.addQueryParameter("tag", String.valueOf(tag.get()));
        }
        if (utteranceEndMs != null && utteranceEndMs.isPresent()) {
            urlBuilder.addQueryParameter("utterance_end_ms", String.valueOf(utteranceEndMs.get()));
        }
        if (vadEvents != null && vadEvents.isPresent()) {
            urlBuilder.addQueryParameter("vad_events", String.valueOf(vadEvents.get()));
        }
        if (version != null && version.isPresent()) {
            urlBuilder.addQueryParameter("version", String.valueOf(version.get()));
        }
        Request.Builder requestBuilder = new Request.Builder().url(urlBuilder.build());
        // Header Authorization requires literal value support
        final Request request = requestBuilder.build();
        this.readyState = WebSocketReadyState.CONNECTING;
        ReconnectingWebSocketListener.ReconnectOptions reconnectOptions =
                ReconnectingWebSocketListener.ReconnectOptions.builder().build();
        this.reconnectingListener =
                new ReconnectingWebSocketListener(reconnectOptions, () -> {
                    if (clientOptions.webSocketFactory().isPresent()) {
                        return clientOptions.webSocketFactory().get().create(request, this.reconnectingListener);
                    } else {
                        return okHttpClient.newWebSocket(request, this.reconnectingListener);
                    }
                }) {
                    @Override
                    protected void onWebSocketOpen(WebSocket webSocket, Response response) {
                        readyState = WebSocketReadyState.OPEN;
                        if (onConnectedHandler != null) {
                            onConnectedHandler.run();
                        }
                        connectionFuture.complete(null);
                    }

                    @Override
                    protected void onWebSocketMessage(WebSocket webSocket, String text) {
                        handleIncomingMessage(text);
                    }

                    @Override
                    protected void onWebSocketFailure(WebSocket webSocket, Throwable t, Response response) {
                        readyState = WebSocketReadyState.CLOSED;
                        if (onErrorHandler != null) {
                            onErrorHandler.accept(new RuntimeException(t));
                        }
                        connectionFuture.completeExceptionally(t);
                    }

                    @Override
                    protected void onWebSocketClosed(WebSocket webSocket, int code, String reason) {
                        readyState = WebSocketReadyState.CLOSED;
                        if (onDisconnectedHandler != null) {
                            onDisconnectedHandler.accept(new DisconnectReason(code, reason));
                        }
                    }
                };
        reconnectingListener.connect();
        return connectionFuture;
    }

    /**
     * Disconnects the WebSocket connection and releases resources.
     */
    public void disconnect() {
        reconnectingListener.disconnect();
        if (timeoutExecutor != null) {
            timeoutExecutor.shutdownNow();
            timeoutExecutor = null;
        }
    }

    /**
     * Checks if a WebSocket instance exists (not necessarily connected).
     *
     * This method only verifies that a WebSocket object has been created, not whether
     * it's actively connected. For actual connection state, use getReadyState().
     *
     * @return true if a WebSocket instance exists, false otherwise
     * @deprecated Use getReadyState() for accurate connection status
     */
    @Deprecated
    public boolean hasWebSocketInstance() {
        // Check if WebSocket connection is open based on ready state
        return readyState == WebSocketReadyState.OPEN || readyState == WebSocketReadyState.CONNECTING;
    }

    /**
     * Gets the current state of the WebSocket connection.
     *
     * This provides the actual connection state, similar to the W3C WebSocket API.
     *
     * @return the current WebSocket ready state
     */
    public WebSocketReadyState getReadyState() {
        return readyState;
    }

    /**
     * Sends a ListenV1Media message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendListenV1Media(String message) {
        return sendMessage("ListenV1Media", message);
    }

    /**
     * Sends a ListenV1Finalize message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendListenV1Finalize(ListenV1Finalize message) {
        return sendMessage("ListenV1Finalize", message);
    }

    /**
     * Sends a ListenV1CloseStream message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendListenV1CloseStream(ListenV1CloseStream message) {
        return sendMessage("ListenV1CloseStream", message);
    }

    /**
     * Sends a ListenV1KeepAlive message to the server asynchronously.
     * @param message the message to send
     * @return a CompletableFuture that completes when the message is sent
     */
    public CompletableFuture<Void> sendListenV1KeepAlive(ListenV1KeepAlive message) {
        return sendMessage("ListenV1KeepAlive", message);
    }

    /**
     * Registers a handler for ListenV1Results messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onListenV1Results(Consumer<ListenV1Results> handler) {
        this.listenv1resultsHandler = handler;
    }

    /**
     * Registers a handler for ListenV1Metadata messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onListenV1Metadata(Consumer<ListenV1Metadata> handler) {
        this.listenv1metadataHandler = handler;
    }

    /**
     * Registers a handler for ListenV1UtteranceEnd messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onListenV1UtteranceEnd(Consumer<ListenV1UtteranceEnd> handler) {
        this.listenv1utteranceendHandler = handler;
    }

    /**
     * Registers a handler for ListenV1SpeechStarted messages from the server.
     * @param handler the handler to invoke when a message is received
     */
    public void onListenV1SpeechStarted(Consumer<ListenV1SpeechStarted> handler) {
        this.listenv1speechstartedHandler = handler;
    }

    /**
     * Registers a handler called when the connection is established.
     * @param handler the handler to invoke when connected
     */
    public void onConnected(Runnable handler) {
        this.onConnectedHandler = handler;
    }

    /**
     * Registers a handler called when the connection is closed.
     * @param handler the handler to invoke when disconnected
     */
    public void onDisconnected(Consumer<DisconnectReason> handler) {
        this.onDisconnectedHandler = handler;
    }

    /**
     * Registers a handler called when an error occurs.
     * @param handler the handler to invoke on error
     */
    public void onError(Consumer<Exception> handler) {
        this.onErrorHandler = handler;
    }

    /**
     * Ensures the WebSocket is connected and ready to send messages.
     * @throws IllegalStateException if the socket is not connected or not open
     */
    private void assertSocketIsOpen() {
        if (reconnectingListener.getWebSocket() == null) {
            throw new IllegalStateException("WebSocket is not connected. Call connect() first.");
        }
        if (readyState != WebSocketReadyState.OPEN) {
            throw new IllegalStateException("WebSocket is not open. Current state: " + readyState);
        }
    }

    private CompletableFuture<Void> sendMessage(String type, Object body) {
        CompletableFuture<Void> future = new CompletableFuture<>();
        try {
            assertSocketIsOpen();
            Map<String, Object> envelope = new HashMap<>();
            envelope.put("type", type);
            envelope.put("body", body);
            String json = objectMapper.writeValueAsString(envelope);
            // Use reconnecting listener's send method which handles queuing
            boolean sent = reconnectingListener.send(json);
            if (sent) {
                future.complete(null);
            } else {
                // Message was queued for later delivery when reconnected
                future.complete(null);
            }
        } catch (IllegalStateException e) {
            future.completeExceptionally(e);
        } catch (Exception e) {
            future.completeExceptionally(new RuntimeException("Failed to send message", e));
        }
        return future;
    }

    private void handleIncomingMessage(String json) {
        try {
            JsonNode envelope = objectMapper.readTree(json);
            if (envelope == null || envelope.isNull()) {
                throw new IllegalArgumentException("Received null or invalid JSON envelope");
            }
            JsonNode typeNode = envelope.get("type");
            if (typeNode == null || typeNode.isNull()) {
                throw new IllegalArgumentException("Message envelope missing 'type' field");
            }
            String type = typeNode.asText();
            JsonNode body = envelope.get("body");
            if (body == null) {
                throw new IllegalArgumentException("Message envelope missing 'body' field");
            }
            switch (type) {
                case "ListenV1Results":
                    if (listenv1resultsHandler != null) {
                        ListenV1Results event = objectMapper.treeToValue(body, ListenV1Results.class);
                        if (event != null) {
                            listenv1resultsHandler.accept(event);
                        }
                    }
                    break;
                case "ListenV1Metadata":
                    if (listenv1metadataHandler != null) {
                        ListenV1Metadata event = objectMapper.treeToValue(body, ListenV1Metadata.class);
                        if (event != null) {
                            listenv1metadataHandler.accept(event);
                        }
                    }
                    break;
                case "ListenV1UtteranceEnd":
                    if (listenv1utteranceendHandler != null) {
                        ListenV1UtteranceEnd event = objectMapper.treeToValue(body, ListenV1UtteranceEnd.class);
                        if (event != null) {
                            listenv1utteranceendHandler.accept(event);
                        }
                    }
                    break;
                case "ListenV1SpeechStarted":
                    if (listenv1speechstartedHandler != null) {
                        ListenV1SpeechStarted event = objectMapper.treeToValue(body, ListenV1SpeechStarted.class);
                        if (event != null) {
                            listenv1speechstartedHandler.accept(event);
                        }
                    }
                    break;
                default:
                    // Unknown message type - log or ignore;
                    break;
            }
        } catch (IllegalArgumentException e) {
            if (onErrorHandler != null) {
                onErrorHandler.accept(e);
            }
        } catch (Exception e) {
            if (onErrorHandler != null) {
                onErrorHandler.accept(e);
            }
        }
    }

    /**
     * Reason for WebSocket disconnection.
     */
    public static class DisconnectReason {
        private final int code;

        private final String reason;

        public DisconnectReason(int code, String reason) {
            this.code = code;
            this.reason = reason;
        }

        public int getCode() {
            return code;
        }

        public String getReason() {
            return reason;
        }
    }

    /**
     * WebSocket connection ready state, based on the W3C WebSocket API.
     */
    public enum WebSocketReadyState {
        /**
         * The connection is being established.
         */
        CONNECTING,

        /**
         * The connection is open and ready to communicate.
         */
        OPEN,

        /**
         * The connection is in the process of closing.
         */
        CLOSING,

        /**
         * The connection is closed.
         */
        CLOSED
    }
}
